mixin main-gallery()
	+b.main-gallery&attributes(attributes)
		block
		.main-gallery__bg
		.container.main-gallery__wrap
			.main-gallery__ttl Фотогалерея
		mixin mainGalleryOnly()
			.main-gallery__items#main-gallery__items
				.main-gallery__item-wrap(data-value='1')
					a(data-fancybox="gallery" href='/images/main-gallery__img.png')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/main-gallery__img.png')
				.main-gallery__item-wrap(data-value='2')
					a(data-fancybox="gallery" href='https://youtu.be/azUbCdcAeFM')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/main-gallery__video.png')
				.main-gallery__item-wrap(data-value='3')
					a(data-fancybox="gallery" href='/images/main-gallery__img.png')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/main-gallery__img.png')
				.main-gallery__item-wrap(data-value='4')
					a(data-fancybox="gallery" href='/images/main-gallery__img.png')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/main-gallery__img.png')
				.main-gallery__item-wrap(data-value='4')
					a(data-fancybox="gallery" href='/images/main-gallery__img.png')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/main-gallery__img.png')
				.main-gallery__item-wrap(data-value='4')
					a(data-fancybox="gallery" href='/images/main-gallery__img.png')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/main-gallery__img.png')
				.main-gallery__item-wrap(data-value='4')
					a(data-fancybox="gallery" href='/images/main-gallery__img.png')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/main-gallery__img.png')
		+mainGalleryOnly()
		// Стрелки
		mixin mainGalleryArrows()
			.container.main-gallery__arrows-wrap
				.main-gallery__arrows
					.main-gallery__arrows-arrow.main-gallery__arrows-arrow-left
					.main-gallery__arrows-center
						.main-gallery__arrows-center-current
						.main-gallery__arrows-center-txt из
						.main-gallery__arrows-center-all
					.main-gallery__arrows-arrow.main-gallery__arrows-arrow-right
		+mainGalleryArrows()
		// /Стрелки
