mixin main-gallery()
	+b.main-gallery&attributes(attributes)
		block
		.main-gallery__bg
		.container.main-gallery__wrap
			.main-gallery__ttl Фотогалерея
		mixin mainGalleryOnly()
			.main-gallery__items#main-gallery__items
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/2.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/2.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/4.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/4.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/5.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/5.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/3.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/3.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/11.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/11.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-007.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-007.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-025.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-025.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-033.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-033.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-036.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-036.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-039.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-039.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-040.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-040.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-044.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-044.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-046.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-046.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-049.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-049.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-051.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-051.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-054.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-054.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-059.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-059.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='images/gallery/izobrajenie-061.jpg')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/gallery/izobrajenie-061.jpg')
				.main-gallery__item-wrap
					a(data-fancybox="gallery" href='https://youtu.be/azUbCdcAeFM')
						.main-gallery__item-zoom
						img.main-gallery__item(src='images/main-gallery__video.png')
		+mainGalleryOnly()
		// Стрелки
		mixin mainGalleryArrows()
			.container.main-gallery__arrows-wrap
				.main-gallery__arrows
					.main-gallery__arrows-arrow.main-gallery__arrows-arrow-left
					.main-gallery__arrows-center
						.main-gallery__arrows-center-current
						.main-gallery__arrows-center-txt из
						.main-gallery__arrows-center-all
					.main-gallery__arrows-arrow.main-gallery__arrows-arrow-right
		+mainGalleryArrows()
		// /Стрелки
