mixin ll()
	+b.ll&attributes(attributes)
		block
		.container-fluid
			.row.align-items-center.c-w.fixed-bottom
				.col-6
					.h50.bg-g.chat.brd-w Чат
				.col-6.d-flex.justify-content-end
					.bg-g.phone.brd-w Звонок
