/* О компании */
.about
  position relative
  z-index 20
  .main-trust
    padding 200px 0 100px
  .main-reviews
    padding-top 80px

.about__txt
  line-height 30px
  margin-bottom 60px
  p:first-child
    margin-bottom 30px

.about ~ footer
  background-color #fff

/* /О компании */
