extends /blocks/header/header

block headerVars
  - var headerType = 'header-video header-domof header-skud header-jal';

block centerUtp
  .col-12.text-center
    .hder__utp-center
      .hder__utp-center-row1
        strong Жалюзи
      .hder__utp-center-separ
      .hder__utp-center-row2
        ul.hder__utp-center-row2-ul
          li 
            .hder__utp-center-row2-ul-cntnt Жалюзи 
              strong от проивзодителя
          li
            .hder__utp-center-row2-ul-cntnt Только 
              strong сертифицированная продукция
          li
            .hder__utp-center-row2-ul-cntnt Гарантия 
              strong 2 года
          li
            .hder__utp-center-row2-ul-cntnt Замер и установка 
              strong бесплатно
