/* Жалюзи */
.header-video.header-domof.header-skud.header-jal
  background-image url("../../images/jal__header-bg.png")

  /* Вы получаете */
.cat-skud.cat-jal .main-reviews__ttl
  color #003460 !important

.cat-skud.cat-jal .main-reviews__ttl-separ:before
  background-color $howOrange !important
  /* /Вы получаете */

  /* Полную информацию смотрите в нашем каталоге */
.video-cat__bg.video-cat__bg_jal:before
  background-image url(../../images/jal__cat-bg.png)
  /* /Полную информацию смотрите в нашем каталоге */

  /* Почему мы? */
.video-cat__item-txt-ttl
  font-size 16px
  font-weight 600
  text-transform uppercase
.video-cat__item-txt-dscrn
  font-size 16px
  font-weight 400

.cat-jal
  .video-cat__item-txt
    padding-top 0
  /* /Почему мы? */

  /* Оставьте заявку */
.cat-jal
  .main-form
    border-top 15px solid $fterBlue
  /* /Оставьте заявку */

  /* Отзывы */
.cat-skud.cat-jal .reviews-jal
  .main-reviews__ttl-separ:before
    background-color yellow !important
  .main-reviews__ttl
    color #fff !important

  /* /Отзывы */

/* /Жалюзи */
