/* Жалюзи */
.header-video.header-domof.header-skud.header-jal
  background-image url("../../images/jal__header-bg.png")

  /* Вы получаете */
.cat-skud.cat-jal .main-reviews__ttl
  color #003460 !important

.cat-skud.cat-jal .main-reviews__ttl-separ:before
  background-color $howOrange !important

  /* /Вы получаете */

/* /Жалюзи */
