.cat-seo__text
  .cat-seo__text-bg
  // УТП
  include /blocks/catalog/seo/testUtpSeo.jade
  // /УТП  
  .cat-seo__text-container.container
    .row
      .col-12.col-lg-4
        
        .catalog#sideMenu
          .catalog-item
            .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 1
            .catalog-item__cntnt-wrap
              .catalog-item__cntnt
                //- // вложенное меню
                //- .catalog.catalog_sub
                //-   .catalog-item
                //-     .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 1
                //-     .catalog-item__cntnt-wrap
                //-       .catalog-item__cntnt
                //-         a(href='#').catalog-menu__link Ссылка
                //-         a(href='#').catalog-menu__link Ссылка
                //-         a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка

          .catalog-item
            .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 2
            .catalog-item__cntnt-wrap
              .catalog-item__cntnt
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
          .catalog-item
            .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 3
            .catalog-item__cntnt-wrap
              .catalog-item__cntnt
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
          .catalog-item
            .catalog-item__ttl(onclick='mainSubMenu(event)') Заголовок меню 4
            .catalog-item__cntnt-wrap
              .catalog-item__cntnt
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
                a(href='#').catalog-menu__link Ссылка
      script(src='js/side-menu.js')

      .col-12.col-lg-8
        .cat-seo__text-txt
          .cat-seo__text-ttl.mt-5.mt-lg-0
            h1.cat-seo__text-txt-h1 Заголовок первого уровня h1
          p Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов.
          p Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов.
          p Если вы хотите включить свет в своем саду или открыть гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. Если вы хотите включить свет гаражные двери, то можете воспользоваться одним из нижеперечисленных способов. то можете воспользоваться одним из нижеперечисленных способов.
