/* Тексты в каталоге */
.cat-seo
  position relative
  margin-top -160px
  .main-form
    z-index 20
  .test-utp
    position relative
    top -90px
    margin-top 0


.cat-seo__text
  position relative
  padding 0px 0 100px
  .cat-video__utp-top
    font-size 30px
    font-weight 600
    text-transform uppercase
  .cat-video__utp-bottom
    font-size 18px
    line-height 25px
  .cat-video__utp-footer
    text-align left
    font-size 14px
    color #7e7e7e
    background-color #e8e8e8
    padding 15px 20px
    line-height 18px

.cat-seo__text-bg
  position absolute
  width 100%
  top 0
  bottom 0
  background-color $greyBg
  transform skewY(-7deg)

.cat-seo__text-container
  margin-top 0

  /* Каталог */
.video-faq_cat
  padding 0 !important

.video-faq__items-ttl.video-faq__items-ttl_cat
  font-weight 300
  font-size 18px

.cat-subitems
  padding 0 !important

.video-faq__sub-items
  .card-header
    border 0
    background-color #fff !important
  .card
    box-shadow none !important
  .card-body
    padding 15px 0 !important

.cat-seo__link
  font-size 14px
  font-weight 300
  color #000
  display block
  transition .2s ease

.cat-seo__link:hover
  text-decoration none
  color $howOrange
  /* /Каталог */

  /* Текст */
.cat-seo__text-ttl
  display block
  color #00427b
  font-size 36px
  position relative
  margin-bottom 30px
.cat-seo__text-ttl:before
  content ''
  position absolute
  height 3px
  background-color $howOrange
  top 50%
  left 0
  width 100%
  transform translateY(-50%)

.cat-seo__text-txt-h1
  background-color $greyBg
  position relative
  z-index 10
  display inline-block
  padding-right 30px

.cat-seo__text-txt
  p
    font-size 18px
    font-weight 300
    line-height 22px
  /* /Текст */

/* /Тексты в каталоге */
