extends /blocks/testUtp/testUtp

block utpVars
	- var testUtpTopBtnTxt = 'Заказать';	

block testUtpTop
	.cat-video__utp-top 
		strong.c-yellow Выберите ваш подарок!

block testUtpBottom
	.cat-video__utp-bottom Установите видеодомофон с функцией видеосъемки, фотографией событий и инфракрасной подсветкой! 
		br
		| Инфракрасная подсветка покажет лицо посетителя даже в полной темноте!
		br
		| Ваш Дом всегда надежно защищен!

block testUtpFooter
	.cat-video__utp-footer 
		span(style='color: red;') * 
		span Сценарий – программа, позволяющая реализовать «умные» функции. Эта программа управляет главным контроллером. А он уже – бытовым системам, задействованным в Вашем «Умном Доме». Сценарий – программная основа работы УД. Без него Умные приборы могут работать по упрощенной схеме, выполняя только заложенный в них функционал. Сценарий – это и есть «интеллект», алгоритм , позволяющий умным приборам стать «УМНЫМ ДОМОМ».
