/* Видеонаблюдение */
.cat-video
  position relative
  top -180px
  /* УТП */
  .test-utp
    position relative
    z-index 20

    margin-top 0
    top -120px
  .cat-video__utp-top
    font-size 30px
    color #fff

  .cat-video__utp-bottom
    font-size 18px
    line-height 24px
    p:last-child
      margin-bottom 0
  /* Заголовок с чертами по бокам */
  .main-reviews__ttl
    color $fterBlue
  .main-reviews__ttl-separ:before
    background-color $howOrange
  .main-reviews__ttl-separ:after
    background-color $howOrange
  .main-seo
    padding 120px 0 0
    margin-bottom -290px
  .main-seo__bg
    bottom -50px

  /* Вы получаете */
.you-get
  position relative

.you-get__bg
  position absolute
  height 100%
  width 100%
  top 0
  left 0
.you-get__bg:before
  content ''
  position absolute
  width 100%
  top 0
  bottom -110px
  left 0
  background-color $greyBg
  transform skewY(-7deg)
  z-index 10

.you-get__content
  position relative
  z-index 20

.you-get__item-text-ttl
  font-size 18px
  font-weight 600
  text-transform uppercase
  margin-bottom 2px

.you-get__item-text-body
  font-size 18px
  font-weight 300

.you-get__item-img
  float left
  width 65px
  height 70px
  margin-right 30px
  text-align center

.you-get__item:after
  display table
  width 100%
  content ''

.you-get__item-text
  padding-top 18px

.you-get__item
  margin-bottom 30px

.you-get__button
  color #fff
  text-transform uppercase
  background-color $hderBlue
  max-width 190px
  width 100%
  text-align center
  padding 10px 15px
  border-radius 10px
  border none
  box-shadow 0 3px 36px -1px #808080c4

.you-get__button-row
  margin-top 30px
  /* /Вы получаете */

  /* Мы установим */
.we-set
  position relative
  padding 170px 0 100px
  margin-top 50px
  .slick-dotted.slick-slider
    margin-bottom 0

.we-set__container
  position relative
  z-index 10

.we-set__bg
  position absolute
  top 0
  left 0
  height 100%
  width 100%
.we-set__bg:before
  content ''
  background-image url("../../images/main-about__bg.png")
  background-position center
  background-size cover
  background-repeat no-repeat
  position absolute
  top -110px
  left 0
  bottom -210px
  width 100%

.we-set__imgs-img
  background-image url('../../images/we-set__imgs.png')
  background-position center
  background-size cover
  height 310px

.we-set__ttl
  font-size 48px
  font-weight 600
  color #fff
  margin-bottom 60px

.we-set__cntnt-ttl
  position relative
  font-size 24px
  font-weight 600
  color yellow
  text-transform uppercase
  padding-bottom 10px
  display inline-block
  padding-left 10px
  padding-right 10px
  line-height 30px
.we-set__cntnt-ttl:before
  content ''
  position absolute
  height 2px
  background-color $howOrange
  width 100%
  bottom 0
  left 0

.we-set__cntnt-ttl-right
  justify-content flex-start
  .we-set__cntnt-ttl
    padding-left 35px

.we-set__cntnt-ttl-left
  justify-content flex-end
  .we-set__cntnt-ttl
    padding-right 35px

.we-set__cntnt-descr-ul
  margin-top 20px
  color #fff
  font-weight 300

.we-set__cntnt-descr-li
  margin 9px 0
  padding-left 35px

.we-set__cntnt
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction column

.we-set__imgs
  .slick-dots
    bottom inherit
    top 15px
    text-align right
    padding-right 30px
  .slick-dots li button:before
    content none
  .slick-dots li button
    border 1px solid $howOrange
    border-radius 50%
    background-color #fff
    height 17px
    width 17px
    transition .2s ease
  .slick-dots li button:hover,
  .slick-dots li.slick-active button
    background-color $howOrange
@media screen and (max-width 400px)
  .cat-video
    .main-reviews__ttl
      padding 0 10px
  /* /Мы установим */

// Полную информацию смотрите в каталоге
.video-cat
  position relative
  padding 100px 0 0
  z-index 10
.video-cat__bg
  position absolute
  top 0
  left 0
  height 90%
  width 100%
  overflow hidden
  transform skewY(-7deg)
.video-cat__bg:before
  content ''
  position absolute
  width 100%
  left 0
  top -170px
  bottom -160px
  background-image url(../../images/video-cat__bg.png)
  background-size cover
  background-position center
  background-repeat no-repeat
  transform skewY(7deg)

.video-cat
  .main-form__form-inpt-left
    width initial
  .main-form__form-inpt input
    border-bottom-color yellow
    background-color transparent
    color #fff
  .main-form__form-inpt label
    color #fff
    font-weight 300
  .main-team__ttl-txt
    background-color $hderBlue
    color yellow
    font-weight 400
    font-size 48px
  .hder__test-bottom
    padding-bottom 60px
  .hder__test
    margin-top 100px

.video-cat__ttl
  font-size 30px
  color #fff
  text-align center
  margin-bottom 40px

.video-cat__notice
  font-weight 300
  color #fff
  font-size 14px
  margin 25px 0 35px
  .main-form__form-txt-txt-star
    font-size 14px
    color $howOrange

.video-cat__notice-politics
  text-decoration underline
  cursor pointer

.video-cat__btn
  background-color red
  border none
  border-radius 10px
  color #fff
  width 100%
  max-width 360px
  padding 12px 0

.video-cat__item-img
  text-align center
  float left
  width 40px

.video-cat__item-txt
  text-align left
  padding-top 10px
  margin-left 60px
  font-size 16px
  line-height 20px

.video-cat__item:before
  content ''
  display table
  width 100%

.video-cat__item
  margin-top 30px
// /Полную информацию смотрите в каталоге

// Остались вопросы
.video-faq
  position relative
  padding 100px 0
  .simple-p__wrap
    border none
  .simple-p__ttle
    background-color $greyBg
    font-weight 400
  .simple-p__ttle-wrap:before
    background-color yellow
  .card-header
    padding 0
    font-size 24px
    font-weight 600
    color $howOrange
    cursor pointer
    .collapsed
      color #000
      transition .2s ease
    .collapsed:hover
      color $howOrange
    .video-faq__items-ttl
      position relative
      padding 15px
      padding-right 50px
    .video-faq__items-ttl:before,
    .video-faq__items-ttl:after
      position absolute
      right 20px
      top 50%
      transform translateY(-50%)
      transition .2s ease
    .video-faq__items-ttl:after
      content '-'
      opacity 1
      font-size 42px
      top calc(50% - 4px)
    .video-faq__items-ttl:before
      content '+'
      opacity 0
    .collapsed.video-faq__items-ttl:before
      opacity 1
    .collapsed.video-faq__items-ttl:after
      opacity 0


  .card
    margin-bottom 8px
    border none
    box-shadow 0 3px 33px 5px #d3d3d373

  .card-body
    font-size 18px
    font-weight 400
    line-height 23px


.video-faq__bg
  position absolute
  width 100%
  left 0
  top -170px
  bottom -170px
  background-color $greyBg
// /Остались вопросы

@media screen and (max-width 576px)
  .hder__test-bottom
    padding 50px 15px 30px 15px !important

/* /Видеонаблюдение */
