.video-faq
  .video-faq__bg
  +contentTitle('Остались вопросы?')
  .container
    .row
      .col-12
        .video-faq__items#video-faq__items
          mixin collapse(headClss, bdyId, bdyClss, txtHead, txtBody)
            .card
              .card-header
                .video-faq__items-ttl(data-toggle='collapse' data-target= '#' + bdyId class= headClss)= txtHead
              div(data-parent='#video-faq__items' id= bdyId class= bdyClss)
                .card-body= txtBody
          +collapse('', 'card-body1', 'collapse show', 'С какого момента начинается гарантия?', 'Гарантия начинает действовать с момента передачи оборудования в Ваше пользование по акту приема-сдачи.')
          +collapse('collapsed', 'card-body2', 'collapse', 'Какой срок гарантии на ваше оборудование?', 'От 3-х лет и выше. У нас качественное оборудование.')
          +collapse('collapsed', 'card-body3', 'collapse', 'На каком этапе строительства лучше устанавливать видеонаблюдение?', 'Идеальный вариант – на начальном этапе строительства или ремонта. Это позволит проложить кабеля до чистовой отделки и не портить дорогой ремонт. Даст возможность контроля выполнения работ.')
          +collapse('collapsed', 'card-body4', 'collapse', 'Аналоговое или IP?', 'Единственное преимущество аналогового оборудования – это стоимость. Качество изображения, как правило, уступает IP, более сложный монтаж, большее количество помех. IP-оборудование – более высокое качество изображения, камера сама может быть передатчиком изображения (через интеренет), богатый функционал, который постоянно расширяется и совершенствуется. Например, система коллективной безопасности «Безопасный город» и все гос.объекты оборудуются только IP-камерами.')
          +collapse('collapsed', 'card-body5', 'collapse', 'Где хранится записанное видео?', 'Стандартное хранение на жестком диске. Это хранилище находится в месте ведения съемки и принадлежит Вам. Есть риск хищения этого оборудования. Второй вариант – облачное хранение (хранение на серверах интернет-компаний). Преимущества – бесплатно, или за небольшие деньги. Большой объем памяти. Риски – потеря информации, утечка информации.')
          +collapse('collapsed', 'card-body6', 'collapse', 'Какое оборудование вы рекомендуете?', 'Для съемки внутри помещения подойдут 1-2 Мп камеры. Для улицы может потребоваться более серьезное оборудование – с разрешением от 2-х  до 4-х Мп.')
          +collapse('collapsed', 'card-body7', 'collapse', 'Можно ли будет просматривать «живое» видео?', 'Да. Предлагаемое нами оборудование позволяет просматривать изображение со всех камер в режиме он-лайн («вживую»).')
          +collapse('collapsed', 'card-body8', 'collapse', 'Какие сроки установки?', 'Этапы установки: обследование объекта, составление технического задания с учетом Ваших требований, проектирование, подбор оборудования, монтаж, пуско-наладка, обучение владельца, сдача. На средний особняк 200 м с участком 10 соток стандартно 1-2 рабочих дня. В квартире – за пару часов.')
