extends /blocks/testUtp/testUtp

block utpVars
	- var testUtpTopBtnTxt = 'Попробовать бесплатно';	

block testUtpTop
	.cat-video__utp-top Теперь Вы можете 
		strong.c-yellow "Попробовать" 
		| наше оборудование 
		strong.c-yellow бесплатно!

block testUtpBottom
	.cat-video__utp-bottom
		p Мы привозим Вам оборудование различных характеристик, объясняем преимущества каждого, подключаем и показываем «картинку»  вживую. Устанавливаем выбранный Вами тестовый комплект для того, что бы вы могли самостоятельно, не спеша , за пару дней опробовать его.
		p Вы сможете оценить качество видео и днём, и ночью. Выбирая нас, Вы будете совершенно точно знать, что выбрали именно то, что надо!
