.we-set
  .we-set__bg
  .container
    .row
      .col-12.px-2.p-sm-0
        .we-set__ttl Мы установим:
      // Ячейка1
      // Изображения
      mixin we-set__imgs(bgi)
        .col-12.col-lg-6.mb-4.mb-lg-0.p-0
          // мини-галерея
          .we-set__imgs.we-set__imgs1
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
      +we-set__imgs('images/we-set__imgs.png')
      // Описание
      .col-12.col-lg-6.mb-4.mb-lg-0.p-0.d-flex.align-items-center.we-set__cntnt-ttl-right
        .we-set__cntnt
          .we-set__cntnt-ttl Видеокамеры:
          .we-set__cntnt-descr
            ul.we-set__cntnt-descr-ul
              each item in ['- IP', '- MHD', '- AHD', '- IP уличные', '- IP купольные', '- IP внутренние', '- Аналоговые уличные', '- Аналоговые уличные купольные', '- Аналоговые купольные']
                li.we-set__cntnt-descr-li= item
      mixin we-set__cntnt(ttl, lr)
        .col-12.col-lg-6.mb-4.mb-lg-0.p-0.d-flex.align-items-center(class= lr)
          .we-set__cntnt
            .we-set__cntnt-ttl= ttl
      +we-set__cntnt('Видеорегистраторы', 'we-set__cntnt-ttl-left')
      +we-set__imgs('images/we-set__imgs2.png')
      +we-set__imgs('images/we-set__imgs3.png')
      +we-set__cntnt('Комплекты видеонаблюдения', 'we-set__cntnt-ttl-right')
      +we-set__cntnt('Фотоловушки и треккеры', 'we-set__cntnt-ttl-left')
      +we-set__imgs('images/we-set__imgs4.png')
      +we-set__imgs('images/we-set__imgs5.png')
      +we-set__cntnt('Автомобильные регистраторы', 'we-set__cntnt-ttl-right')
