+ttlWithLines('Вы получаете:')
.container
  .row
    .col-6
      mixin you-get__item(img, ttl, bdy)
        .you-get__item
          .you-get__item-img
            img.you-get__item-img-image(src= img)
          .you-get__item-text
            .you-get__item-text-ttl= ttl
            .you-get__item-text-body= bdy
      +you-get__item('images/video-you-get__img1.png', 'Контроль', 'событий "вживую", онлайн')
      +you-get__item('images/video-you-get__img2.png', 'Удобство', 'архив видеозаписи до 60 дней')
      +you-get__item('images/video-you-get__img3.png', 'Надежность', 'гарантия на оборудование 3 года')
    .col-6
      +you-get__item('images/video-you-get__img4.png', 'Безопасность', 'облачное хранение данных. Запись не исчезнет при повреждении аппаратуры.')
      +you-get__item('images/video-you-get__img5.png', 'Экономию', 'подбор оборудования именно под Ваши задачи. Ничего лишнего.')
      +you-get__item('images/video-you-get__img6.png', 'Уверенность', 'предварительное тестирование оборудования. Вы точно знаете, что выбрали то, что хотели')
    .you-get__button-row.col-12.text-center
      button.you-get__button(type='button' data-toggle="modal" data-target="#calculate") Хочу!
