/* Фотогалерея */
.main-gallery
	display block
	position relative
	z-index 20

.main-gallery__wrap
	position relative
	z-index 15

.main-gallery__bg
	position absolute
	width 100%
	top -30px
	bottom -70px
	left 0
	transform skewY(-7deg)
	overflow hidden
	z-index 10
.main-gallery__bg:before
	content ''
	background-image url("../../images/main-about__bg.png")
	background-position center
	background-size cover
	position absolute
	width 100%
	top -160px
	bottom -160px
	left 0
	transform skewY(7deg)

.main-gallery__items
	position relative
	z-index 15
	margin 50px 0

.main-gallery__items
	.slick-center
		transition .2s ease
	.slick-center
		transform scale(1.3)
		z-index 20
		position relative
		.main-gallery__item
			border 3px solid yellow
	.slick-list
		padding 90px 70px !important
	.slick-slide
		opacity .5
		transition .2s ease
	.slick-slide.slick-active
		opacity 1 !important

.main-gallery__item
	width 100%
	background-color grey

.main-gallery__item-wrap
	padding 10px

.main-gallery__ttl
	color #fff
	font-size 60px
	text-align right
/* /Фотогалерея */
