mixin main-gallery()
	+b.main-gallery&attributes(attributes)
		block
		.main-gallery__bg
		.container.main-gallery__wrap
			.main-gallery__ttl Фотогалерея
		.container-fluid
		.main-gallery__items
			.main-gallery__item-wrap
				img.main-gallery__item(src='/images/main-gallery__img.png')
			.main-gallery__item-wrap
				img.main-gallery__item(src='/images/main-gallery__img.png')
			.main-gallery__item-wrap
				img.main-gallery__item(src='/images/main-gallery__img.png')
			.main-gallery__item-wrap
				img.main-gallery__item(src='/images/main-gallery__img.png')
			.main-gallery__item-wrap
				img.main-gallery__item(src='/images/main-gallery__img.png')
			.main-gallery__item-wrap
				img.main-gallery__item(src='/images/main-gallery__img.png')
