extends ../header/header

block centerUtp
  .col-12.text-center
    .hder__utp-center.header404
      .hder__utp-center-row1 Сайт на реконструкции
      .hder__utp-center-separ
      .hder__utp-center-row2 Страница в данный момент не доступна,
        br
        | зайдите к нам чуть позже...
