block utpVars

.test-utp
	// Тест/УТП
	.container
		.row
			.col-12.text-center
				.hder__test
					.hder__test-top
						block testUtpTop
					.hder__test-bottom
						block testUtpBottom
					.hder__test-button-wrap
						button.hder__test-button(type='button' data-toggle='modal' data-target='#calculate')= testUtpTopBtnTxt
