/* отзывы */
.reviews
	display block

.reviews__item
	padding 0 20px

.review__item-cntnt-ttl
	font-weight 600

.review__item-cntnt-ttl-city
	margin 5px 0
	font-size 13px

.review__item-cntnt-txt
	font-size 18px

.reviews-wrap
	padding 20px

.review
	border 1px solid lightgrey

.review__item-img
	height 200px
	background-color rgb(176, 176, 176)

.review__item-cntnt
	padding 20px
/* /отзывы */
