mixin reviews()
	+b.reviews&attributes(attributes)
		block
		.container
			.sepr
			h2.text-center Отзывы
			.sepr
			// Слайдер с отзывами
			.reviews-wrap
				.reviews-slider
					.reviews__item
						.review
							.review__item-img.d-flex.justify-content-center.align-items-center.c-w Фото
							.review__item-cntnt
								.review__item-cntnt-ttl Мария
								.review__item-cntnt-ttl-city г. Севастополь								
								.review__item-cntnt-txt Заказывали систему умного дома. Порадовало соотношение цены и качества. Очень вежливые ребята, подробно ответили на все мои вопросы. Обязательно буду рекомендовать компанию своим знакомым.
					.reviews__item
						.review
							.review__item-img.d-flex.justify-content-center.align-items-center.c-w Фото
							.review__item-cntnt
								.review__item-cntnt-ttl Мария
								.review__item-cntnt-ttl-city г. Севастополь								
								.review__item-cntnt-txt Заказывали систему умного дома. Порадовало соотношение цены и качества. Очень вежливые ребята, подробно ответили на все мои вопросы. Обязательно буду рекомендовать компанию своим знакомым.
					.reviews__item
						.review
							.review__item-img.d-flex.justify-content-center.align-items-center.c-w Фото
							.review__item-cntnt
								.review__item-cntnt-ttl Мария
								.review__item-cntnt-ttl-city г. Севастополь								
								.review__item-cntnt-txt Заказывали систему умного дома. Порадовало соотношение цены и качества. Очень вежливые ребята, подробно ответили на все мои вопросы. Обязательно буду рекомендовать компанию своим знакомым.
					.reviews__item
						.review
							.review__item-img.d-flex.justify-content-center.align-items-center.c-w Фото
							.review__item-cntnt
								.review__item-cntnt-ttl Мария
								.review__item-cntnt-ttl-city г. Севастополь								
								.review__item-cntnt-txt Заказывали систему умного дома. Порадовало соотношение цены и качества. Очень вежливые ребята, подробно ответили на все мои вопросы. Обязательно буду рекомендовать компанию своим знакомым.
		.sepr
