include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
		// JQuery
		script(src='js/jquery331.min.js')
		// Slick-слайдер
		script(src='/slick/slick.min.js')
		script.
			$(document).ready(function(){
				$('.main-gallery__items').slick({
					centerMode: true,
					arrows: false,
				  centerPadding: '60px',
				  slidesToShow: 3,
				  responsive: [
				    {
				      breakpoint: 768,
				      settings: {
				        arrows: false,
				        centerMode: true,
				        centerPadding: '40px',
				        slidesToShow: 3
				      }
				    },
				    {
				      breakpoint: 480,
				      settings: {
				        arrows: false,
				        centerMode: true,
				        centerPadding: '40px',
				        slidesToShow: 1
				      }
				    }
				  ]
				});
			});
		// Bootstrap
		script(src='js/bootstrap.js')
