include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
		// JQuery
		script(src='js/jquery331.min.js')
		// Slick-слайдер
		script(src='/slick/slick.min.js')
		// Фотогалерея
		script.
			$(document).ready(function(){
				$('.main-gallery__items').slick({
					centerMode: true,
					arrows: true,
				  centerPadding: '60px',
				  slidesToShow: 3,
				  responsive: [
				    {
				      breakpoint: 768,
				      settings: {
				        arrows: true,
				        centerMode: true,
				        centerPadding: '40px',
				        slidesToShow: 3
				      }
				    },
				    {
				      breakpoint: 480,
				      settings: {
				        arrows: true,
				        centerMode: true,
				        centerPadding: '40px',
				        slidesToShow: 1
				      }
				    }
				  ]
				});
			});
		// Отзывы
		script.
			$(document).ready(function(){
				$('.main-reviews__items').slick({					
					arrows: true,
					infinite: true,
					slidesToShow: 3,
					slidesToScroll: 3,					
				  responsive: [
				    {
				      breakpoint: 1000,
				      settings: {
								arrows: true,
								infinite: true,
								slidesToShow: 1,
								slidesToScroll: 1,
				      }
				    }
				  ]
				});
			});		
		script(src='assets/scripts/slick-init.js')
		// Bootstrap
		script(src='js/bootstrap.js')
		// BaguetteBox
		script(src='baguettebox/baguetteBox.js')
		script.
			baguetteBox.run('.main-gallery__items');
