mixin main-about()
	+b.main-about&attributes(attributes)
		.main-about__bg
		block
		.container
			.main-about__ttl ООО "Клевер" - это...
		.container-fluid
			.row
				.col-12.col-lg-6.pl-0.mb-4
					mixin aboutItem(itemClass, txt)
						.main-about__item(class= itemClass)
							.main-about__item-cntnt= txt
					+aboutItem('main-about__item-1 main-about__item-left', 'Автоматические системы управления для Дома и бизнеса – комфорт, энергосбережение, безопасность, контроль.Ваши мечты, Ваш волшебный Дом, сказка каждый день, волшебный комфорт и надежная защищенность: система автоматики «Умный Дом» JABLOTRON . Охрана  периметра , комплексная безопасность здания, освещение, теплые полы, оптимизация расхода электричества, контроль сна детей и пожилых , управление бассейном, сауной, ночное освещение, сценарии «отпуск» и «частичный доступ», контроль протечек воды и утечки газа, автономная работа при отсутствии электричества до 5-ти суток, обратная он-лайн связь с Хозяином , проверенное  современное веб-приложение.')
				.col-12.col-lg-6.pr-0.mb-4
					+aboutItem('main-about__item-2 main-about__item-right', 'Уют и прохлада, стильный интерьер, защита от любопытных глаз:  жалюзи и электрические системы управления шторами – электрокарнизы с пультом ДУ, электрошторы, маркизы от производителей Италии, Германии, Франции,КНР, Испании.')
				.col-12.col-lg-6.pl-0.mb-4
					+aboutItem('main-about__item-3 main-about__item-left', 'Уверенность и информированность - видеонаблюдение и видеодомофония:  передача изображения –он-лайн, просмотр изображения дистанционно  через телефон, ноутбук. Отправка фотосообщений событий. Хранение информации свыше 45 суток')
				.col-12.col-lg-6.pr-0.mb-4
					+aboutItem('main-about__item-4 main-about__item-right', 'Экономия и порядок: системы контроля доступа и энергосбережения – электронные замки, энергосберегающие карманы, программное обеспечение для контроля доступа и контроля работы персонала. Повышение рентабельности отеля на 25% min. за счет экономии электричества')
				.col-12.col-lg-6.pl-0.mb-4
					+aboutItem('main-about__item-5 main-about__item-left', 'Сценарии работы автоматики - в подарок!')
				.col-12.col-lg-6.pr-0.mb-4
					+aboutItem('main-about__item-6 main-about__item-right', 'Индивидуальные условия оплаты, отсрочка платежа по договору до 3-х месяцев.')
				.col-12.col-lg-6.pl-0.mb-4
					+aboutItem('main-about__item-7 main-about__item-left', 'Монтаж - от одного дня.')
				.col-12.col-lg-6.pr-0.mb-4
					.main-about__item.mb-4(class='main-about__item-8 main-about__item-right')
						.main-about__item-cntnt
							.main-about__item-cntnt-row Гарантия на оборудование - 
								strong от 2-х лет
							.main-about__item-cntnt-row На умные системы - 
								strong от 3-х лет 
							.main-about__item-cntnt-row Гарантия на работу - 
								strong бессрочная
				.col-12.col-lg-6.pl-0.mb-4
					+aboutItem('main-about__item-9 main-about__item-left', 'В штате предприятия - инженеры-электрики, программисты и микроэлектронщики, профессионалы в разнопрофильной автоматике.')
				.col-12.col-lg-6.pr-0.mb-4
					+aboutItem('main-about__item-10 main-about__item-right', 'Гарантийное и постгарантийное сопровождение, скорая техническая помощь,пунктуальные,аккуратные мастера - это мир сервиса "КЛЕВЕР".')
			.container
				.main-about__ftr ...мир 
					span(style='color: #fff600;') умной 
					| автоматики для Вашего дома!
