/* Клевер - это... */
.main-about
	display block
	position relative
	z-index 10
	color #fff
	padding 160px 0 130px

.main-about__bg
	position absolute
	z-index -1
	height 100%
	width 100%
	top 0
	left 0
	transform skewY(-7deg)
	overflow hidden
.main-about__bg:before
	content ''
	position absolute
	width 100%
	top -200px
	bottom -200px
	left 0
	background-image url('../../images/main-about__bg.png')
	background-size cover
	background-position center
	transform skewY(7deg)

.main-about__ttl
	font-size 48px
	font-weight 600
	margin-bottom 50px
.main-about__ftr
	font-size 48px
	font-weight 400
	text-align left

.main-about__item
	min-height 330px
	height 100%
	background-size cover
	background-position center
	display -webkit-flex
	display -ms-flex
	display flex
	align-items center
.main-about__item-left
	justify-content flex-end
.main-about__item-right
	justify-content flex-start

.main-about__item-cntnt
	display -webkit-flex
	display -ms-flex
	display flex
	flex-direction column
	justify-content center
	align-items flex-start
	position relative
	min-height 180px
	max-width 565px
	width 100%
	background-color rgba(#000000, 0.6)
	padding 40px
	overflow hidden
	box-shadow 0 0 40px 0px #00000085
.main-about__item-cntnt:before
	content ''
	position absolute
	background-color #ff9d4e
	width 100%
	height 50px
	top -55px
	left 0
	transform skewY(-7deg)
	box-shadow 0 0 40px 0px rgba(0, 0, 0, 0.50)
.main-about__item-cntnt:after
	content ''
	position absolute
	background-color #ff9d4e
	width 100%
	height 50px
	bottom -55px
	left 0
	transform skewY(-7deg)
	box-shadow 0 0 40px 0px rgba(0, 0, 0, 0.50)

.main-about__item-cntnt-row
	margin 7px 0
	font-weight 300
	strong
		font-weight 600


	/* Кастомизация блоков */
.main-about__item-1
	background-image url(../../images/main-about__item-1.png)
	font-size 16px
	font-weight 300
	line-height 22px
.main-about__item-2
	background-image url(../../images/main-about__item-2.png)
	font-size 18px
	font-weight 300
	line-height 24px
.main-about__item-3
	background-image url(../../images/main-about__item-3.png)
	font-size 18px
	font-weight 300
	line-height 24px
.main-about__item-4
	background-image url(../../images/main-about__item-4.png)
	font-size 18px
	font-weight 300
	line-height 24px
.main-about__item-5
	background-image url(../../images/main-about__item-5.png)
	font-size 24px
	line-height 30px
.main-about__item-6
	background-image url(../../images/main-about__item-6.png)
	font-size 24px
	line-height 30px
.main-about__item-7
	background-image url(../../images/main-about__item-7.png)
	font-size 30px
	line-height 32px
.main-about__item-8
	background-image url(../../images/main-about__item-8.png)
.main-about__item-9
	background-image url(../../images/main-about__item-9.png)
	font-size 24px
	line-height 30px
.main-about__item-10
	background-image url(../../images/main-about__item-10.png)
	font-size 24px
	line-height 30px
	/* /Кастомизация блоков */

@media screen and (max-width 550px)
	.main-about__ttl,
	.main-about__ftr
		font-size 40px
@media screen and (max-width 450px)
	.main-about__ttl,
	.main-about__ftr
		font-size 30px
		line-height 40px
	.main-about__item-cntnt
		padding 40px 15px
/* /Клевер - это... */
