/* каталог */
  // шапка
.header-video
  background-image url('../../images/header-bg-catalog.png')
  .hder__utp-center-row2-ttl
    font-size 24px
  .hder__utp-center-row2-ul
    font-size 18px
    margin-top 20px
    line-height 25px
  .hder__utp-center-row2-ul-cntnt
    position relative
    display inline-block
  .hder__utp-center-row2-ul-cntnt:before,
  .hder__utp-center-row2-ul-cntnt:after
    content '•'
    position absolute
    color $howOrange
    top 50%
    transform translateY(-50%)
    font-size 20px

  .hder__utp-center-row2-ul-cntnt:before
    left -11px
  .hder__utp-center-row2-ul-cntnt:after
    right -11px
  // /шапка

/* /каталог */
