extends ../header/header

block headerVars
  - var headerType = 'header-video';

block centerUtp
  .col-12.text-center
    .hder__utp-center
      .hder__utp-center-row1 
        strong Системы видеонаблюдения					
      .hder__utp-center-separ
      .hder__utp-center-row2
        .hder__utp-center-row2-ttl Попробуйте, прежде чем купить
        ul.hder__utp-center-row2-ul
          li 
            .hder__utp-center-row2-ul-cntnt монтаж 
              strong от 2-х часов
          li
            .hder__utp-center-row2-ul-cntnt
              strong гарантия
              | на работу бессрочно
          li
            .hder__utp-center-row2-ul-cntnt смета
              strong в 3-х вариантах
