mixin cleveris()
	+b.cleveris.bg-lg&attributes(attributes)
		block
		.container.cleveris
			.row
				.col-12
					.sepr
					h2.text-center ООО "Клевер" - это
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 1.Автоматические системы управления для Дома и бизнеса –комфорт, энергосбережение, безопасность, контроль.
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 2. уют и прохлада, стильный интерьер, защита от любопытных глаз :  жалюзи и электрические системы управления шторами – электрокарнизы с пультом ДУ, электрошторы, маркизы от производителей Италии, Германии, Франции,КНР, Испании.
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 3.   уверенность и информированность - видеонаблюдение и видеодомофония:  передача изображения –он-лайн, просмотр изображения дистанционно  через телефон, ноутбук. Отправка фотосообщений событий. Хранение информации свыше 45 суток;.
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 4. экономия и порядок: системы контроля доступа и энергосбережения – электронные замки, энергосберегающие карманы, программное обеспечение для контроля доступа и контроля работы персонала. Повышение рентабельности отеля на 25% min. за счет экономии электричества;
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 5. Ваши мечты, Ваш волшебный Дом, сказка каждый день, волшебный комфорт и надежная защищенность: система автоматики «Умный Дом» JABLOTRON . Охрана  периметра , комплексная безопасность здания, освещение, теплые полы, оптимизация расхода электричества, контроль сна детей и пожилых , управление бассейном, сауной, ночное освещение, сценарии «отпуск» и «частичный доступ», контроль протечек воды и утечки газа, автономная работа при отсутствии электричества до 5-ти суток, обратная он-лайн связь с Хозяином , проверенное  современное веб-приложение.
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 6. Сценарии работы автоматики - в подарок!
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 7. Индивидуальные условия оплаты, отсрочка платежа по договору до 3-х месяцев.
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 8. Монтаж - от одного дня.
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 9. Гарантия на оборудование - от 2-х лет. На умные системы - от 3-х лет. Гарантия на работу - бессрочная.
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 10. В штате предприятия - инженеры-электрики, программисты и микроэлектронщики, профессионалы в разнопрофильной автоматике. 
				.col-12.brd-w.p-2.m-1 
					.row
						.col-2
							.h100.bg-g.d-flex.justify-content-center.align-items-center.c-w Картинка
						.col-10 11. Гарантийное и постгарантийное сопровождение, скорая техническая помощь,пунктуальные,аккуратные мастера,  - это мир сервиса "КЛЕВЕР". 
			.row.justify-content-end.flex-row.mt-3
				h4 Мир умной автоматики для Вашего Дома
		.sepr
		//- .sepr-hr.brd-g
		.sepr
