extends ../header/header

block centerUtp
  .col-12.text-center
    .hder__utp-center
      .hder__utp-center-row1 Ремонт квартиры 
        strong за 60 дней! от 
          span.c-red 3900 
          | руб/м
          span.square-meter.square-meter_hder 2							
      .hder__utp-center-separ
      .hder__utp-center-row2 Онлайн-трансляция вашего ремонта
        br
        strong Прописываем гарантию в договоре на 5 лет!
