mixin partners()
	+b.partners&attributes(attributes)
		block
		.partners.bg-lg 
			.container
				.sepr
				h2.partners-title.text-center Нам доверяют: (3 логотипа компаний)
				.sepr
				.row
					.partners-item-wrap.col-4
						.partners-item.brd-w.bg-g.c-w.centerAll.d-flex фото логотипа компании
					.partners-item-wrap.col-4
						.partners-item.brd-w.bg-g.c-w.centerAll.d-flex фото логотипа компании
					.partners-item-wrap.col-4
						.partners-item.brd-w.bg-g.c-w.centerAll.d-flex фото логотипа компании
				.sepr
				.sepr
