extends /blocks/header/header

block headerVars
  - var headerType = 'header-video header-domof';

block centerUtp
  .col-12.text-center
    .hder__utp-center
      .hder__utp-center-row1
        strong Домофония					
      .hder__utp-center-separ
      .hder__utp-center-row2
        .hder__utp-center-row2-ttl Комплект видеодомофонии
          strong.pod-klyuch "под ключ" 
          | всего
          strong за
            span.six-five-zero-zero 6500 
            | руб.
        ul.hder__utp-center-row2-ul
          li 
            .hder__utp-center-row2-ul-cntnt установка 
              strong "под ключ"
          li
            .hder__utp-center-row2-ul-cntnt
              strong гарантия
              | на оборудование от 3-х лет, на работу - бессрочно
          li
            .hder__utp-center-row2-ul-cntnt 
              strong консультации 
              | по оборудованию
              strong круглосуточно
