/* Каталог Домофония */
  /* Шапка */
.header-video.header-domof
  background-image url(../../images/domof-cat__bg.png)

  /* /Шапка */

.pod-klyuch
  font-size 24px
  color #ff5a00
.six-five-zero-zero
  color red

  /* утп */
.cat-video__utp-top-simple-text
  font-size 18px
  line-height 24px
  padding-top 20px

.hder__test-button
  min-width 300px
  /* /утп */

  /* Полную информацию смотрите в нашем каталоге */
.cat-domof
  .video-cat__bg
    height 83%
  .video-cat__bg:before
    background-image url(../../images/domof-complect__bg.png)
  .video-cat
    margin-top 80px
    padding 100px 0 180px
  /* /Полную информацию смотрите в нашем каталоге */

  /* Комплект домофонии */
.cat-domof
  .video-cat__ttl
    margin-bottom 30px
    .hder__utp-center-row2-ttl
      font-size 30px
    .pod-klyuch
      font-size 30px
.video-cat__descr
  font-size 18px
  color #fff
  text-align center
  line-height 25px
  margin-bottom 40px
  font-weight 300
  /* /Комплект домофонии */

  /* Мы устанавливаем */
.we-set__cntnt-ttl-left .we-set__cntnt-ttl
  text-align right
.cat-domof
  .we-set
    margin-top -170px

.we-set__imgs-a
  position relative
.we-set__imgs-a:before
  content ''
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-image url("../../images/main-gallery__zoom.png")
  background-position center
  background-size initial
  background-repeat no-repeat
  opacity 0
  transition .2s ease
  z-index 20
.we-set__imgs-a:hover:before
  opacity 1
.we-set__imgs-a:after
  content ''
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color grey
  z-index -1

.we-set__imgs-img
  position relative
  opacity 1
  transition .2s ease
  z-index 10
.we-set__imgs-a:hover
  .we-set__imgs-img
    opacity .5


  /* /Мы устанавливаем */

  /* Полную информацию смотрите в нашем каталоге */
.domof__catalog
  .video-cat__bg:before
    background-image url("../../images/video-cat__bg.png")

.domof__catalog.video-cat
  margin-top 50px
  padding-bottom 60px
  /* /Полную информацию смотрите в нашем каталоге */

  /* Остались вопросы? */
.cat-domof
  .video-faq
    top -110px
    padding-bottom 0
  .video-faq__bg
    top -330px
    bottom -280px

  /* /Остались вопросы? */

@media screen and (max-width 375px)
  .hder__test-button
    min-width 250px
@media screen and (max-width 400px)
  .we-set__ttl
    font-size 37px !important
/* /Каталог Домофония */
