extends /blocks/testUtp/testUtp

block utpVars
	- var testUtpTopBtnTxt = 'Заказать';	

block testUtpTop
	.cat-video__utp-top 
		strong.c-yellow Вы видите, кто звонит Вам в дверь?
		.cat-video__utp-top-simple-text
			| Ваши дети дома одни, и могут открыть дверь незнакомцу?
			br
			| Кто-то портит Вам двери и почтовый ящик, а Вы не знаете кто?
			br
			| Задумались о безопасности семьи?

block testUtpBottom
	.cat-video__utp-bottom Установите видеодомофон с функцией видеосъемки, фотографией событий и инфракрасной подсветкой! 
		br
		| Инфракрасная подсветка покажет лицо посетителя даже в полной темноте!
		br
		| Ваш Дом всегда надежно защищен!
