/* Контакты */
.contacts
  padding 200px 0
.contacts__item-sign
  color rgba(255, 0, 0, 0.6)

.contacts__item-cntnt
  color #000
  font-size 18px
  font-weight 300
  line-height 30px
  padding-left 40px

.contacts__form
  .main-form__form-inpt-left
    width 48%
  .main-form__form-btn
    text-align center
    margin-top 10px
.contacts__form.main-form__form
    padding 30px 35px

.contacts__item
  display -webkit-flex
  display -ms-flex
  display flex
  margin-bottom 20px

.contacts__item-sign
  display -webkit-flex
  display -ms-flex
  display flex
  align-items center
  font-size 30px
  width 35px
  justify-content center


/* /Контакты */
