mixin navbar()
	+b.navbar-wrap&attributes(attributes)
		block
		.container
			nav.navbar.navbar-expand-sm.navbar-light.bg-light.fixed-top.brd-g.d-flex
				a.navbar-brand(href='#') Логотип
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#main-menu')
					span.navbar-toggler-icon
				.collapse.navbar-collapse#main-menu
					ul.navbar-nav
						li.nav-item.active
							.nav-link(href='') Главная
						li.nav-item
							.nav-link(href='') О компании
						li.nav-item
							.nav-link(href='') Каталог
						li.nav-item
							.nav-link(href='') Статьи
						li.nav-item
							.nav-link(href='') Галерея
						li.nav-item
							.nav-link(href='') Контакты
