/* Общие стили */
body
  font-family 'Open Sans', sans-serif

strong
  font-weight 600 !important

.square-meter
  vertical-align text-top
.c-yellow
  color yellow
.c-red
  color red
.c-orange
  color #ff5a00
.c-black
  color #000

.pos-r
  position relative

button:focus
  outline none
/* /Общие стили */
