/* Общие стили */
body
  font-family 'Open Sans', sans-serif

strong
  font-weight 600 !important

.square-meter
  vertical-align text-top
.c-yellow
  color yellow
.c-red
  color red

.pos-r
  position relative
/* /Общие стили */
