/* Общие стили */
body
  font-family 'Open Sans', sans-serif

strong
  font-weight 600 !important

.square-meter
  vertical-align text-top
.c-yellow
  color yellow
.c-red
  color red
.c-orange
  color #ff5a00
.c-black
  color #000
.fl
  float left
.fr
  float right

.pos-r
  position relative

button:focus
  outline none
/* /Общие стили */


/* typed.js */
.typed-cursor
  font-size 40px
  margin-top 10px
  color #464646

.main-trust__item
  transition opacity .2s ease
/* /typed.js */
