body
  font-family 'Open Sans'
  font-weight 400

// Шрифты
.font-bold
  font-family 'Open Sans'
  font-weight 600
.font-light
  font-family 'Open Sans'
  font-weight 300
.font-reg
  font-family 'Open Sans'
  font-weight 400

// Шрифты - цвета
.c-w
  color #fff
.c-lg
  color lightgrey
.c-g
  color grey
.c-b
  color #000

// Фоны - цвета
.bg-w
  background-color #fff
.bg-lg
  background-color lightgrey
.bg-g
  background-color grey
.bg-b
  background-color #000

// Бордюры - цвета
.brd
  border 1px solid
.brd-w
  border 1px solid #fff !important
.brd-lg
  border 1px solid lightgrey !important
.brd-g
  border 1px solid grey !important
.brd-b
  border 1px solid #000 !important

// Высоты
.h100p
  height 100%
.h50
  height 50px
.h100
  height 100px
.h200
  height 200px

// Разделитель
.sepr
  height 30px
.sepr-hr
  position relative
.sepr-hr:before
  position absolute
  content ''
  height 1px
  width 100%
  left 0
  top 0

// Выравнивания
.centerAll
  justify-content center
  align-items center
