extends /blocks/testUtp/testUtp

block utpVars
	- var testUtpTopBtnTxt = 'Рассчитать стоимость онлайн';	

block testUtpTop
	.hder__test-top-row1 Сэкономим до 30% на работа
	.hder__test-top-row2 Сравните цены с конкурентами
		br
		| сделав экспресс-расчет

block testUtpBottom
	.hder__test-bottom-ttl-wrap
		.hder__test-bottom-ttl Как?
	.hder__test-bottom-cntnt Вам будет достаточно 
		strong 2 минут, 
		| чтобы определить примерную стоимость вашего ремонта и для этого даже не нужно созваниваться с менеджером нашей компании.
