extends /blocks/layout-default/layout-default
include /blocks/modals/modals


block head
	- var pageTitle = 'Clever | Мир умной автоматики для вашего дома';

block content
	// Шапка
	include ../blocks/404-header/header-404
	// /Шапка
	// Модальные окна
	+modals()
	// /Модальные окна
	// Футер
	.footer404
		include ../blocks/footer/footer
	// /Футер
