extends /blocks/catalog/catalog-layout.jade
include /blocks/simple-pages/mixins
include /blocks/main/main-form/main-form

block simpleTitle
	- var title = 'Умный дом';
		
block headerCatalog
	include /blocks/catalog/smart/smart-header
		
block simpleContent
	.cat-seo.cat-seo__text.cat-smart
		// УТП
		include /blocks/catalog/smart/testUtpSmart.jade
		// /УТП 
		// 4 шага к безопасности
		include /blocks/catalog/smart/safe
		// /4 шага к безопасности 
		// Управляйте своим домом
		include /blocks/catalog/smart/manage
		// /Управляйте своим домом
		// Что вы получаете
		include /blocks/catalog/smart/we-set-smart
		// /Что вы получаете
		// 4 способа управления "умным домом"
		include /blocks/catalog/smart/ways
		// /4 способа управления "умным домом"
		// Наблюдайте за своим домом
		include /blocks/catalog/smart/watch
		// /Наблюдайте за своим домом


		// Оставьте заявку
		+main-form() 
		// /Оставьте заявку
