extends /blocks/catalog/catalog-layout.jade
include /blocks/simple-pages/mixins
include /blocks/main/main-form/main-form
include /blocks/main/main-seo/main-seo
include /blocks/main/main-gallery/main-gallery

block simpleTitle
	- var title = 'Электрокарнизы';
		
block headerCatalog
	include /blocks/catalog/kar/kar-header
		
block simpleContent
	.cat-video.cat-domof.cat-kar
		// Реклама
		include /blocks/catalog/kar/you-get__kar.jade
		// /Реклама
		
		// Подарок
		include /blocks/catalog/kar/gift
		// /Подарок
		
		// Наши преимущества
		include /blocks/catalog/kar/you-get__kar2.jade
		// /Наши преимущества
		
		// Каталог - продукция
		include /blocks/catalog/kar/products
		// /Каталог - продукция
		
		// Полную информацию смотрите в каталоге
		include /blocks/catalog/kar/kar-cat.jade
		// /Полную информацию смотрите в каталоге		

		// Фотогалерея
		+main-gallery()
		// /Фотогалерея
		
		// Оставьте заявку
		+main-form() 
		// /Оставьте заявку
		// Сео текст
		+main-seo() 
		// /Сео текст
		script(src='js/kar-scripts.js')
		script.
			$(document).ready(function(){
				$('.we-set__imgs1').slick({
					arrows: false,
					dots: true,
					slidesToShow: 1
				});
			});
