extends /blocks/catalog/catalog-layout.jade
include /blocks/simple-pages/mixins

block simpleTitle
	- var title = 'Системы видеонаблюдения';
		
block simpleContent
	.cat-video
		// УТП
		include /blocks/catalog/video/testUtpVideo.jade
		// /УТП
		// Вы получаете
		include /blocks/catalog/video/you-get.jade
		// /Вы получаете
		// Мы установим
		include /blocks/catalog/video/we-set.jade
		// /Мы установим
		// Полную информацию смотрите в каталоге
		include /blocks/catalog/video/cat.jade
		// /Полную информацию смотрите в каталоге
		// Остались вопросы?
		include /blocks/catalog/video/faq.jade
		// /Остались вопросы?
		script.
			$(document).ready(function(){
				$('.we-set__imgs1').slick({
					arrows: false,
					dots: true,
					slidesToShow: 1
				});
			});
