extends /blocks/catalog/catalog-layout.jade
include /blocks/simple-pages/mixins
include /blocks/main/main-form/main-form
include /blocks/main/main-seo/main-seo
include /blocks/main/main-gallery/main-gallery
include /blocks/main/main-reviews/main-reviews

block simpleTitle
	- var title = 'Жалюзи';
		
block headerCatalog
	include /blocks/catalog/jal/jal-header
		
block simpleContent
	.cat-video.cat-domof.cat-skud.cat-jal
		// Вы получаете
		include /blocks/catalog/jal/you-get__jal.jade
		// /Вы получаете
		
		// Каталог
		include /blocks/catalog/jal/cat-jal-cat.jade
		// /Каталог
		
		
		
		// Полную информацию смотрите в нашем каталоге
		include /blocks/catalog/jal/cat-jal.jade
		// /Полную информацию смотрите в нашем каталоге
		
		// Остались вопросы?
		include /blocks/catalog/skud/faq-skud.jade
		// /Остались вопросы?

		// Фотогалерея
		+main-gallery()
		// /Фотогалерея
		
		// Отзывы
		.reviews-jal
			+main-reviews()
		// /Отзывы
		
		// Оставьте заявку
		+main-form() 
		// /Оставьте заявку
				
		// Сео текст
		+main-seo() 
		// /Сео текст
		script(src='js/skud-scripts.js')
		script.
			$(document).ready(function(){
				$('.we-set__imgs1').slick({
					arrows: false,
					dots: true,
					slidesToShow: 1
				});
			});
