extends /blocks/catalog/catalog-layout.jade
include /blocks/simple-pages/mixins

block simpleTitle
	- var title = 'Системы видеонаблюдения';
	
	
block simpleContent
	.cat-video
		// УТП
		include /blocks/catalog/video/testUtpVideo.jade
		// /УТП
		// Вы получаете
		include /blocks/catalog/video/you-get.jade
		// /Вы получаете
	
