extends /blocks/simple-pages/simple-page-layout.jade
include /blocks/simple-pages/mixins

block simpleTitle
	- var title = 'Галерея';
	
block simpleContent
	+contentTitle('Галерея')
	.container
		.row.gallery__items
			mixin galleryItem()
				.col-12.col-sm-6
					a(href='gallery-item.html').gallery__item
						.gallery__item-bg
						.gallery__item-ttl Проект Умный дом
			+galleryItem()
			+galleryItem()
			+galleryItem()
			+galleryItem()
			+galleryItem()
			+galleryItem()
		.row
			.col.gallery__pagntn
				a(href='#').gallery__pagntn-item.gallery__pagntn-arrow.gallery__pagntn-arrow-left
				a(href='#').gallery__pagntn-item.gallery__pagntn-page.active 1
				a(href='#').gallery__pagntn-item.gallery__pagntn-page 2
				a(href='#').gallery__pagntn-item.gallery__pagntn-page 3
				a(href='#').gallery__pagntn-item.gallery__pagntn-arrow.gallery__pagntn-arrow-right
	// Оставьте заявку	
	+main-form('main-form_gallery')
	// /Оставьте заявку
