extends /blocks/layout-default/layout-default
include /blocks/footer/footer
include /blocks/modals/modals
include /blocks/main/main-catalog/main-catalog
include /blocks/main/main-about/main-about
include /blocks/main/main-director/main-director
include /blocks/main/main-team/main-team
include /blocks/main/main-trust/main-trust
include /blocks/main/main-form/main-form
include /blocks/main/main-seo/main-seo
include /blocks/main/main-gallery/main-gallery
include /blocks/main/main-reviews/main-reviews


block head
	- var pageTitle = 'Clever | Мир умной автоматики для вашего дома';

block content
	// Шапка
	include ../blocks/main/main-header/main-header
	// /Шапка
	// Каталог
	+main-catalog()
	// /Каталог
	// Клевер - это...
	+main-about()
	// /Клевер - это...
	// Обращение директора
	+main-director()
	// /Обращение директора
	// Наша команда
	+main-team()
	// /Наша команда
	// Фотогалерея
	+main-gallery()
	// /Фотогалерея
	// Отзывы
	+main-reviews()
	// /Отзывы
	// Нам доверяют
	+main-trust()
	// /Нам доверяют
	// Оставьте заявку
	+main-form() 
	// /Оставьте заявку
	// Сео текст
	+main-seo() 
	// /Сео текст
	// Модальные окна
	+modals()
	// /Модальные окна
	// Футер
	include ../blocks/footer/footer
	// /Футер
