mixin catalog()
	+b.catalog&attributes(attributes)
		block
		.container.block-catalog
			.row.justify-content-center
				h2.catalog__title Каталог
			.row
				.col-6
					.cat-item.bg-lg.brd-w.catalog__s-h Умный дом 
						br
						| + всплывающий текст
				.col-6
					.cat-item.bg-lg.brd-w.catalog__skud СКУД для гостиниц 
						br
						| + всплывающий текст
				.col-6
					.cat-item.bg-lg.brd-w.catalog__sun Системы солнцезащиты
						br
						| + жалюзи
						br
						| + карнизы
				.col-6
					.cat-item.bg-lg.brd-w.catalog__video
						.container-fluid.h100p
							.row.h100p
								.col-6.cat__sub-item.bg-g.brd-w.c-w Видеонаблюдение
									br
									| + всплывающий текст
								.col-6.cat__sub-item.bg-g.brd-w.c-w Домофоны
									br
									| + всплывающий текст
		.sepr
		.sepr
