mixin gallery()
	+b.gallery.bg-lg&attributes(attributes)
		block
		.sepr
		.block-dream
			h2.col-12 Галерея, прокрутка(карусель)
		.sepr
		.gallery-slider
			.gallery-item.bg-g.c-lg.brd-lg изображение 1
			.gallery-item.bg-g.c-lg.brd-lg изображение 2
			.gallery-item.bg-g.c-lg.brd-lg изображение 3
			.gallery-item.bg-g.c-lg.brd-lg изображение 4
			.sepr
		.sepr
		.sepr
