.smart-manage
  .smart-manage__bg
  .smart-manage__container.container
    .row
      .col-12.col-lg-7
        .smart-manage__txt
          .smart-manage__ttl Управляйте своим домом
          .smart-manage__ttl2 Модуль управления сигнализационной системы JABLOTRON 100
          .smart-manage__cntnt Система JABLOTRON 100 не только заботится о вашей безопасности. Она способна на большее. Добавьте модули управления, чтобы регулировать систему «умный дом» с помощью приложения MyJABLOTRON. Вы сможете осуществлять все операции на расстоянии – например, включать отопление или открывать гаражные двери.
        button(data-toggle="modal" data-target="#calculate" class="hder__test-button") Я хочу приобрести систему ”Умный дом”
      .col-12.col-lg-5
