extends /blocks/catalog/smart/table-wrap
block testUtpTop
	.cat-video__utp-top 
		.smart-price__ttl-wrap
			.smart-price__ttl Наши цены

block testUtpBottom
	.cat-video__utp-bottom 
		table.smart-table
			tr
				th № п/п
				th Наименование и характеристика оборудоания
				th Единица измерения
				th Кол-во
				th Стоимость единицы (руб.)
				th Общая стоимость (руб.)
			tr
				td 1
				td Контрольная панель JA101KR
				td шт.
				td 1
				td 30000,00
				td 30000,00
			tr
				td 2
				td Контрольная панель JA101KR
				td шт.
				td 1
				td 30000,00
				td 30000,00
			tr
				td 3
				td Контрольная панель JA101KR
				td шт.
				td 1
				td 30000,00
				td 30000,00
			tr
				td 4
				td Контрольная панель JA101KR
				td шт.
				td 1
				td 30000,00
				td 30000,00
			tr
				td 5
				td Контрольная панель JA101KR
				td шт.
				td 1
				td 30000,00
				td 30000,00
			tr
				td 6
				td Контрольная панель JA101KR
				td шт.
				td 1
				td 30000,00
				td 30000,00
			tr
				td 
				td Всего
				td 
				td 
				td 
				td 30000,00 руб.
