.smart-steps
  .smart-steps__bg
  .smart-steps__container.container
    +ttlWithLines('4 шага к безопасности')
    .row
      .col-12.col-lg-6
        img.smart-steps__img(src='images/smart-steps__img.png')
      .col-12.col-lg-6
        .smart-steps__txt
          p.smart-steps__txt-p Шаг первый: 
            strong высококачественная сигнализация. 
            | Мы разрабатываем и производим первоклассные сигнализационные системы уже 25 лет. Наши сигнализации просты в управлении и обладают множеством инновационных функций.
          p.smart-steps__txt-p Принципиальное значение имеет их 
            strong профессиональная установка. 
            | Установка и монтаж наших сигнализаций производятся исключительно нашими партнерами, регулярно проходящими курсы повышения квалификации и имеющими соответствующие сертификаты. Именно поэтому все работает так, как и должно.
          p.smart-steps__txt-p Последний рекомендуемый шаг – подключение сигнализационной системы к ПЦН. Операторы свяжутся с вами в случае возникновения чрезвычайной ситуации и направят специальный отряд к охраняемому дому.
