extends /blocks/header/header

block headerVars
  - var headerType = 'header-smart';

block centerUtp
  .col-12.text-center
    .hder__utp-center.hder__utp-center_simple
      .hder__utp-center-row1 Умный дом
      .hder__utp-center-separ
