/* Умный дом */
  /* УТП */
.cat-video__utp-bottom-li
  display inline-block
  position relative

.cat-video__utp-bottom-li:before
  content '•'
  position absolute
  top 50%
  transform translateY(-50%)
  left -15px
  color $howOrange
.cat-video__utp-bottom-li:after
  content '•'
  position absolute
  top 50%
  transform translateY(-50%)
  right -15px
  color $howOrange
  /* /УТП */

  /* 4 шага к безопасности */
.smart-steps
  position relative
  padding 500px 0

  .main-reviews__ttl
    color $fterBlue
  .main-reviews__ttl-separ:before,
  .main-reviews__ttl-separ:after
    background-color $howOrange

  @media screen and (max-width 550px)
    .main-reviews__ttl
      font-size 36px
      padding 0

.smart-steps__bg
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  background-color $greyBg

.smart-steps__container
  position relative
  z-index 20

.smart-steps__txt
  margin-top 20px

.smart-steps__txt-p
  font-size 18px
  line-height 22px
  padding 10px 0

.smart-steps__img
  max-width 500px
  width 100%
  /* /4 шага к безопасности */

  /* Управляйте своим домом */
.smart-manage
  position relative

  padding 230px 0 120px

.smart-manage__bg
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  background-image url(../../images/smart-manage__bg.png)
  background-position center
  background-size cover
  background-repeat no-repeat

.smart-manage__txt
  color #fff

.smart-manage__ttl
  font-size 48px
  font-weight 400
.smart-manage__ttl2
  font-size 18px
  font-weight 600
  margin 30px 0
.smart-manage__cntnt
  font-size 18px
  font-weight 300
  line-height 24px
  margin-bottom 30px
  /* /Управляйте своим домом */

  /* Что вы получаете */
.we-set__cntnt-lbl
  padding-top 20px

.we-set__cntnt-ttl-right
  .we-set__cntnt-lbl
    padding-left 35px

.we-set__cntnt-ttl-left
  .we-set__cntnt-lbl
    padding-right 35px

.we-set__cntnt-lbl-item
  position relative
  display inline-block
  background-color #fff
  border-radius 50%
  height 110px
  width 110px
  margin-right 25px

.we-set__cntnt-lbl
  .we-set__cntnt-lbl-item:last-child
    margin-right 0

.we-set__cntnt-lbl-item:before
  content ''
  height 100px
  width 100px
  position absolute
  z-index 20
  top 50%
  left 50%
  transform translate(-50%, -50%)
  border-radius 50%
  border 1px solid #b9b9b9

.we-set__cntnt-lbl-item-img
  z-index 10
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  /* /Что вы получаете */

  /* 4 способа */
.smart-ways
  position relative
  padding 100px 0
  .main-reviews__ttl
    color $fterBlue
    font-size 48px
  .main-reviews__ttl-separ:before,
  .main-reviews__ttl-separ:after
    background-color $howOrange
  .main-reviews__ttl-container
    margin-bottom 30px

.smart-ways__bg
  position absolute
  top 0
  left 0
  bottom 0
  width 100%
  background-color $greyBg

.smart-ways__container
  position relative

.smart-ways__notice
  text-align center
  font-weight 300
  font-size 18px
  line-height 24px
  max-width 800px
  display inline-block
  margin-bottom 60px

.smart-ways__item-txt
  font-size 18px
  font-weight 300
  line-height 24px
  margin-top 10px

.smart-ways__item
  margin-bottom 40px

@media screen and (max-width 400px)
  .smart-ways .main-reviews__ttl
    padding 0
  /* /4 способа */

  /* Наблюдайте за своим домом */
.smart-watch
  position relative
  padding 230px 0 150px
  .smart-manage__ttl
    margin-bottom 40px

.smart-watch__bg
  position absolute
  top 0
  left 0
  bottom 0
  width 100%
  background-image url(../../images/smart-watch__bg.png)
  background-position center
  background-size cover
  background-repeat no-repeat

.smart-watch__ul
  font-size 18px
  font-weight 300

.smart-watch__li
  position relative
  margin-bottom 20px
  line-height 24px

.smart-watch__li-img
  position absolute
  left 0
  top 50%
  transform translateY(-50%)

.smart-watch__li-txt
  padding-left 60px

@media screen and (max-width 350px)
  .smart-manage__ttl.smart-manage__ttl_watch
    font-size 44px
  /* /Наблюдайте за своим домом */

  /* Мы защитим вашу квартиру */
.smart-we-safe
  position relative
  padding 200px 0

.smart-we-safe__bg
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  overflow hidden
  transform skewY(-7deg)

.smart-we-safe__bg:before
  transform skewY(7deg)
  content ''
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  background-image url(../../images/smart-we-safe__bg.png)
  background-position center
  background-size cover
  background-repeat no-repeat

.smart-we-safe__ttl
  font-size 48px
  margin-bottom 50px
.smart-we-safe__txt
  font-size 18px
  font-weight 300
  line-height 25px
  /* /Мы защитим вашу квартиру */

  /* Новые ip-камеры */
.smart-ip
  position relative
  padding 200px 0

.smart-ip__bg
  position absolute
  top 0
  left 0
  bottom 0
  width 100%

.smart-ip__bg:before
  content ''
  position absolute
  top 0
  left 0
  bottom 0
  width 100%
  overflow hidden
  background-image url(../../images/smart-ip__bg.png)
  background-position center
  background-size cover
  background-repeat no-repeat

.smart-ip__ttl
  font-size 48px
  color #fff
  margin-bottom 60px
.smart-ip__item-txt
  color #fff
  font-weight 300
  padding-left 50px

.smart-ip__item
  position relative
  margin-bottom 35px

.smart-ip__item-img-wrap
  position absolute
  left 0
  top 50%
  transform translateY(-50%)
  width 36px
  text-align center

.smart-ip__cntnt
  margin-bottom 50px

@media screen and (max-width 400px)
  .smart-ip__ttl
    font-size 40px
  /* /Новые ip-камеры */

  /* Почему */
.smart-why
  padding 200px 0
  position relative
  font-size 16px
  font-weight 300
  line-height 20px

.smart-why__bg
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  background-color $greyBg
  transform skewY(-7deg)

.smart-why__container
  position relative

.smart-why__ttl
  position relative
  overflow hidden
  margin-bottom 40px
.smart-why__ttl-txt
  font-size 60px
  line-height 80px
  display inline-block
  color $fterBlue
  position relative
  padding-right 20px
.smart-why__ttl-txt:before
  content ''
  position absolute
  bottom 17px
  left 100%
  width 500%
  height 3px
  background-color yellow

.smart-why
  img
    width 100%
  img.fr
    padding-left 30px
    padding-bottom 20px
  img.fl
    padding-right 30px
    padding-bottom 20px

@media screen and (max-width 450px)
  .smart-why__ttl-txt
    font-size 40px
  /* /Почему */



/* /Умный дом */
