/* Умный дом */
  /* УТП */
.cat-video__utp-bottom-li
  display inline-block
  position relative

.cat-video__utp-bottom-li:before
  content '•'
  position absolute
  top 50%
  transform translateY(-50%)
  left -15px
  color $howOrange
.cat-video__utp-bottom-li:after
  content '•'
  position absolute
  top 50%
  transform translateY(-50%)
  right -15px
  color $howOrange

  /* /УТП */

/* /Умный дом */
