/* Умный дом */
  /* УТП */
.cat-video__utp-bottom-li
  display inline-block
  position relative

.cat-video__utp-bottom-li:before
  content '•'
  position absolute
  top 50%
  transform translateY(-50%)
  left -15px
  color $howOrange
.cat-video__utp-bottom-li:after
  content '•'
  position absolute
  top 50%
  transform translateY(-50%)
  right -15px
  color $howOrange
  /* /УТП */

  /* 4 шага к безопасности */
.smart-steps
  position relative
  padding 500px 0

  .main-reviews__ttl
    color $fterBlue
  .main-reviews__ttl-separ:before,
  .main-reviews__ttl-separ:after
    background-color $howOrange

  @media screen and (max-width 550px)
    .main-reviews__ttl
      font-size 36px
      padding 0

.smart-steps__bg
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  background-color $greyBg

.smart-steps__container
  position relative
  z-index 20

.smart-steps__txt
  margin-top 20px

.smart-steps__txt-p
  font-size 18px
  line-height 22px
  padding 10px 0

.smart-steps__img
  max-width 500px
  width 100%
  /* /4 шага к безопасности */

  /* Управляйте своим домом */
.smart-manage
  position relative

  padding 230px 0 120px

.smart-manage__bg
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  background-image url(../../images/smart-manage__bg.png)
  background-position center
  background-size cover
  background-repeat no-repeat

.smart-manage__txt
  color #fff

.smart-manage__ttl
  font-size 48px
  font-weight 400
.smart-manage__ttl2
  font-size 18px
  font-weight 600
  margin 30px 0
.smart-manage__cntnt
  font-size 18px
  font-weight 300
  line-height 24px
  margin-bottom 30px
  /* /Управляйте своим домом */

  /* Что вы получаете */
.we-set__cntnt-lbl
  padding-top 20px

.we-set__cntnt-ttl-right
  .we-set__cntnt-lbl
    padding-left 35px

.we-set__cntnt-ttl-left
  .we-set__cntnt-lbl
    padding-right 35px

.we-set__cntnt-lbl-item
  position relative
  display inline-block
  background-color #fff
  border-radius 50%
  height 110px
  width 110px
  margin-right 25px

.we-set__cntnt-lbl
  .we-set__cntnt-lbl-item:last-child
    margin-right 0

.we-set__cntnt-lbl-item:before
  content ''
  height 100px
  width 100px
  position absolute
  z-index 20
  top 50%
  left 50%
  transform translate(-50%, -50%)
  border-radius 50%
  border 1px solid #b9b9b9

.we-set__cntnt-lbl-item-img
  z-index 10
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

  /* /Что вы получаете */

/* /Умный дом */
