extends /blocks/testUtp/testUtp

block utpVars
	- var testUtpTopBtnTxt = 'Заказать';	

block testUtpTop
	.cat-video__utp-top 
		strong.c-yellow Выберите ваш подарок!

block testUtpBottom
	.cat-video__utp-bottom 
		ul.cat-video__utp-bottom-ul(style='margin-bottom: 0;')
			li.cat-video__utp-bottom-li АКЦИЯ – при покупке комплекта УД  «СТАНДАРТ» - сценарий
				strong.c-red(style='margin-left: -5px;') * 
				strong в подарок!
			li.cat-video__utp-bottom-li При покупке УД «КОМФОРТ» - система контроля дыхания новорожденных NANNY 
				strong в подарок!
			li.cat-video__utp-bottom-li При покупке комплекта УД «ПРЕМИУМ»  -  система контроля протечки воды – 
				strong в подарок!
			li.cat-video__utp-bottom-li ГАРАНТИЯ НА ВСЕ ОБОРУДОВАНИЕ ЯБЛОТРОН – 
				strong 5 лет.
		strong Мы устанавливаем лучшее
block testUtpFooter
	.cat-video__utp-footer 
		span(style='color: red;') * 
		span Сценарий – программа, позволяющая реализовать «умные» функции. Эта программа управляет главным контроллером. А он уже – бытовым системам, задействованным в Вашем «Умном Доме». Сценарий – программная основа работы УД. Без него Умные приборы могут работать по упрощенной схеме, выполняя только заложенный в них функционал. Сценарий – это и есть «интеллект», алгоритм , позволяющий умным приборам стать «УМНЫМ ДОМОМ».
