.smart-we-safe
  .smart-we-safe__bg
  .smart-we-safe__container.container
    .row
      .col-12.col-lg-5
      .col-12.col-lg-7
        .smart-we-safe-cntnt
          .smart-we-safe__ttl Мы защитим вашу квартиру от пожара, затопления и утечки газа
          .smart-we-safe__txt Сигнализационная система JABLOTRON 100 своевременно предупредит вас о потенциальной опасности – например, о чрезмерно высоком расходе энергии или об увеличении температуры в доме.
