.smart-why
  .smart-why__bg
  .smart-why__container.container
    .smart-why__ttl
      .smart-why__ttl-txt Почему Jablotron100?
    img.fr(src='images/smart-why__img1.png')
    p Мир наполнен «умными» приборами. Производители предлагают всё новые и новые девайсы, делающие нашу жизнь более удобной и продуктивной. Старик Хоттабыч позавидовал бы умениям современных «умных» электронных систем.
    p Сегодня трудно найти дом , где обходятся без них.
    p Но умные части – только части. Оценить все возможности электронных помощников можно лишь объединив их в единую управляемую систему, которая даст не разрозненные удобства, а позволит получить качественно новый уровень Комфорт Вашего Дома. Давайте представим , как проходит  день в Доме с умной системой Jablotron -100. Утро, пятницы, например. Вас будитВаша любимая мелодия. Солнце заглядывает в окна, шторы заботливо открыты при помощи датчиков света и электрокарнизов. Вы встаете с кровати. Если в доме еще сумерки, «Дом» включит мягкое освещение , аудиосистема поприветствует Вас любимой музыкой. Включенное перед Вашим пробуждением отопление полов встретит Ваши босые ноги теплом. На кухне Вас ждет свежесваренный «умной» кофеваркой кофе.
    p Вы завтракаете, убираете посуду в посудомоечную машину, закидываете вещи в стиральную машинку, выходите из дома, и садитесь в прогретый «умным» датчиком автомобиль. Подъехав к воротам, мигаете фарами, срабатывает установленный в них датчик, ворота открываются, выпуская Вас. Вы нажимаете на кнопку брелка управления Jablotron -100, система закрывает ворота, ставит на охрану Дом и всю территорию, снижает температуру отопления до минимально необходимой, отключает лишнее освещение, ставит систему рекуперации («умной» вентиляции) в пассивный режим, дает команду посудомоечной машине на активацию, стиральной машина на стирку. Если в доме остается кто-либо из домашних, Вы можете заблокировать доступ в Ваш кабинет. У каждого есть свои секреты.
    p Система отключает водоснабжение в доме и газоцентраль на входе в Дом.
    p Если в Ваше отсутствие Вам поступали звонки на домашний номер, или приезжали посетители, Jablotron -100 отправит Вам отчет на мобильный с фотографиями посетителей. При желании, Вы сможете впустить гостей в Дом, отправив соответствующую команду охранной системе.
    p Ваш сад будет полит вовремя и с учетом погодных условий.
    p Охранная система не будет беспокоить Вас по пустякам –Jablotron -100 имеет несколько рубежей интеллектуальной охраны, которая не просто звонит при любом движении на участке или в Доме. Если у Вас есть домашний питомец, его перемещения не потревожат Вас — Jablotron -100 имеет датчики с иммунитетом на животных весом до 15 кг.
    p Для активации общей охранной тревоги необходима фиксация системой нарушения определенного интеллектуального сценария, который основан на пересечении нескольких рубежей охраны и анализе данных системы. Ваш Дом не доставит Вам напрасного беспокойства.
    p Возвращаясь домой, вы включаете подогрев сауны , включаете режим встречи .
    p К Вашему приезду все системы исполнят свои задачи – нагреют сауну, включат полы, откроют воду в бассейне и нагреют её до степени Вашей любимой температуры.
    p Вас ожидает верный и исполнительный слуга и друг – Ваш Умный Дом.
    p Подъезжая к воротам Вашего Дома, вы мигаете светом фар, и система открывает ворота, опознав Вас.
    p Войдя в Дом, вы можете включить охрану по секторам — система будет охранять территорию, по которой вы не будете ходить – двор, баню, гараж, часть комнат, подвал, чердак.
    p Вы всегда в безопасности в Вашем Доме.
    img.fl(src='images/smart-why__img2.png' style='max-width: 580px;')
    p Ложась спать, Вы активируете режим «Сон», система понижает температуру полов, и все утренние процессы происходят в обратном порядке.
    p Вентиляция стихнет до минимально необходимого для здоровья и уюта уровня, снизится температура отопления, перекроется подача газа, активируются датчики охраны в неиспользуемых помещениях.
    p Ваш ребенок, встав ночью в туалет, будет сопровождаться «умной» системой – датчик движения обнаружит, когда он встанет, включит мягкое освещение на пути малыша к туалетной комнате, и проводит его обратно, мягко погаснув по окончании движения в спальне.
    p Малышу не будет страшно в темноте, он не побеспокоит Вас лишний раз, что бы Вы проводили его в туалет. Вы хорошенько выспитесь в проветриваемом без сквозняков помещении. Система рекуперации воздуха сбережет тепло, и позаботится о чистом воздухе для полноценного сна.
    p Спокойной ночи! И с Добрым утром, полным сил, энергии и хорошего настроения!
    p Самое важное в самой Идее Дома, по общему мнению, – это безопасность Владельца, чувство защищенности и покоя. А чувство покоя дает надежная система охраны и комфорта.
    img.fr(src='images/smart-why__img3.png' style='max-width: 580px;')
    p Из всех известных интеллектуальных систем именно чешский «Яблотрон» (Jablotron ,основан в 1990г., компания – крупнейший оператор Пульта Центрального Наблюдения охраны в Чехии) создавался, прежде всего, как интеллектуальная охранная система. С развитием технологий развивался и «Яблотрон», « умнея» вместе с развитием электроники, и сохраняя свою врожденную надежность. Сегодня Jablotron — это полноценная европейская «умная» автоматическая система управления  интеллектуальными подсистемами — мультимедиа, отопление, управление климатом, освещением, системами полива. Вы получаете полноценный мультифункциональный сервис, в основе которого — безопасность и комфорт. И экономия, конечно! Ведь это настоящий «европеец». Участие в управлении со стороны человека сводится к составлению сценария работы смарт-системы. Сценарий — это заранее выбранный Вами алгоритм действий «умной» системы. После получения практических навыков эксплуатации системы создание сценариев станет развлечением для детей и взрослых. Содержание сценариев в первую очередь определяется образом жизни и фантазии хозяев и зависит от конфигурации системы и сложности задания.
    .smart-why__ttl.mt-5
      .smart-why__ttl-txt Преимущества Jablotron100
    img.fr(src='images/smart-why__img3.png' style='max-width: 580px;')
    ol.smart-why__ol
      mixin li(txt)
        li.smart-why__li= txt
      +li('Надежность – применена система дублирования электронных цепей.')
      +li('Масштабируемость системы — поддерживает 128 датчиков, проводных и беспроводных.Подходит для управления большими объектами – гостиницами, складами, офисными центрами, так и стандартной коммунальной квартирой.')
      +li('Возможность сегментации системы на 20 самостоятельных сегментов с любым количеством датчиков в каждом разделе.')
      +li('Ёмкость — позволяет зарегистрировать до 300 пользователей, присвоив каждому свой пароль и права доступа.')
      +li('Свой WEB-сервис (облачный сервис).')
      +li('2 канала связи – GSM и интернет.')
      +li('Гибкость — через преобразователь интерфейсов «Jablotron -100» легко интегрируется с другими умными системами')
      +li('Интеллектуальный анализ событий – анализирует срабатывание датчиков, ложные реакции сведены к минимуму (например, животное на территории).')
      +li('При отключении электричества стандартный пакет «Jablotron -100» , укомплектованный аккумулятором 26 А/ч, полностью жизнеспособен в течении 3-х суток.')
    p Вы программируете систему и она сама регулирует параметры жизнеобеспечения Вашего Дома, получая информацию от различных датчиков – температуры, освещенности, влажности. Управление температурой нагрева «теплых полов», активностью вентиляции значительно снижает затраты на оплату коммунальных услуг. Управление климатом приносит значительную экономию. Снижение температуры в здании на один градус даёт 6 % экономии энергозатрат на отопление.
    p По своей сути система Jablotron -100 — это электронный конструктор, собираемый из умных систем различного назначения, которые можно постепенно добавлять к управляющему центру, исходя из Ваших предпочтений, делая инвестиции в Дом удобными для бюджета.
    p По возможности масштабирования и главное, надежности работы всей конструкции,  «Jablotron -100» лидер умных систем. Благодаря этим свойствам он популярен в России. Это такой автомат Калашникова среди «умных домов». Прост в управлении, надежен в эксплуатации, имеет возможности для масштабирования.
