block headerVars

header(class= headerType)
	.container.temp-border-black
		.navbar.navbar-expand-lg.navbar-light.justify-content-between.px-0
			// Лого
			a.navbar-brand(href='index.html')
				img.header__logo(src='images/header-logo.png')
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mainMenu' aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			// Главное меню
			#mainMenu.main-menu.collapse.navbar-collapse.justify-content-end
				.navbar-nav.navbar-nav-main_m-r
					a.nav-item.nav-link.active(href='index.html') Главная
					a.nav-item.nav-link(href='about.html') О компании
					a.nav-item.nav-link(href='articles.html') Статьи
					a.nav-item.nav-link(href='gallery.html') Галерея
					a.nav-item.nav-link(href='contacts.html') Контакты
	.separ-nav
	.container
		// Меню каталога
		.navbar.navbar-expand-xl.navbar-light.p-0
			.cat-menu.navbar-nav.d-flex.justify-content-between.align-items-xl-center
				a.nav-item.active(href='#') Умный дом
				// Вложенное меню
				.dropdown-menu
					a.dropdown-item(href='#') Система "Умный дом"
					a.dropdown-item(href='#') Комплект "Умный дом"
					// Вложенное меню
					.dropdown-item.dropdown-submenu-parent
						a.dropdown-item.dropdown-item_sub(href='#') Управление "Умным домом"
						.dropdown-submenu-item.dropdown-submenu
							a.dropdown-item(href='#') Управление освещением
							a.dropdown-item(href='#') Управление вентиляцией
							a.dropdown-item(href='#') Управление шторами
							// Вложенное меню
							.dropdown-item.dropdown-submenu-parent
								a.dropdown-item.dropdown-item_sub(href='#') Управление "Умным домом"
								.dropdown-submenu-item
									a.dropdown-item(href='#') Управление освещением
									a.dropdown-item(href='#') Управление вентиляцией
									a.dropdown-item(href='#') Управление шторами
							a.dropdown-item(href='#') Управление климатом
							a.dropdown-item(href='#') Управление отоплением
							a.dropdown-item(href='#') Управление охраной
							a.dropdown-item(href='#') Управление пожарной сигнализацией
							a.dropdown-item(href='#') Управление видеонаблюдением
					a.dropdown-item(href='#') Технология "Умный дом"
					a.dropdown-item(href='#') Оборудование "Умный дом"
					a.dropdown-item(href='#') Готовые решения
					a.dropdown-item(href='#') Система "Умный дом"
					a.dropdown-item(href='#') Система "Умный дом"
						
				.nav-item.d-none.d-xl-block
					.nav-dot
				a.nav-item(href='cat-skud.html') СКУД для гостиниц
				.nav-item.d-none.d-xl-block
					.nav-dot
				a.nav-item(href='cat-jal.html') Жалюзи
				.nav-item.d-none.d-xl-block
					.nav-dot
				a.nav-item(href='404.html') Электрокарнизы
				.nav-item.d-none.d-xl-block
					.nav-dot
				a.nav-item(href='cat-fire.html') Пожарная сигнализация
				.nav-item.d-none.d-xl-block
					.nav-dot
				a.nav-item(href='cat-video.html') Видеонаблюдение
				.nav-item.d-none.d-xl-block
					.nav-dot
				a.nav-item(href='cat-domof.html') Домофоны
	.separ-nav
	// Содержимое баннера
	.container
		.hder__banner.py-5
			.row.justify-content-between
				// УТП слева
				.col-12.col-sm
					.hder__utp-left Мир
						span.c-yellow умной 
						| автоматики
						br
						| для вашего дома
				// УТП справа
				.col-12.col-sm.mt-4.mt-sm-0
					.hder__utp-right
						.hder__utp-left-row.hder__utp-left-row1 Позвоните нам прямо сейчас
						.hder__utp-left-row.hder__utp-left-row2 +7(978) 
							strong 090-41-31
						.hder__utp-left-row.hder__utp-left-row3(data-toggle='modal' data-target='#headerCallback') Заказать звонок						
				// УТП центр
				block centerUtp
	block breadcrumbs
