/* header */
header
	background-position center
	border-bottom 1px solid
	background-size cover
	background-image url('../../images/header-bg.png')
	color #fff
	padding-bottom 240px

	/* Меню */
.main-menu
	text-transform uppercase
	font-size 18px
	font-weight 500

.nav-item
	color #fff !important
	text-transform uppercase
	transition .2s ease
.nav-item:hover
	text-decoration none
	color red !important

.cat-menu
	width 100%
	font-size 14px
.nav-dot
	width 3px
	height 3px
	border 1px solid
	border-radius 50%
.navbar-nav-main_m-r
	margin-right -.5rem

.separ-nav
	height 1px
	background-color #ffffffad

.navbar-light .navbar-toggler
	border-color rgba(255, 255, 255, 0.8)
.navbar-light .navbar-toggler:focus
	outline none
	/* /Меню */

	/* УТП */
.hder__utp-center
	display inline-block
	font-weight 300
.hder__utp-left
	font-size 30px
	text-align left
	line-height 40px
	border-left 3px solid red
	padding 0 0 5px 15px

.hder__utp-right
	text-align right

.hder__utp-left-row1
	font-size 16px
.hder__utp-left-row2
	font-size 30px
	margin 10px 0 14px
.hder__utp-left-row3
	font-size 18px
	color yellow
	cursor pointer
	text-decoration underline
	transition .2s ease
.hder__utp-left-row3:hover
	color red

.hder__utp-center
	width 100%
	font-size 36px
	padding 40px 0
	margin 90px 0
	background linear-gradient(to right, transparent, #00000096, #00000096, transparent)
.hder__utp-center-row2
	line-height 50px
.square-meter_hder
	font-size 22px
	margin-left -8px

		/* разделитель */
.hder__utp-center-separ
	height 2px
	background linear-gradient(to right, transparent, #fff, #fff, transparent)
	margin 40px 0 30px
	/* /УТП */

@media screen and (max-width 1200px)
	.nav-item
		margin 5px 0
@media screen and (max-width 768px)
	.hder__utp-left-row2
		font-size 24px
@media screen and (max-width 500px)
	.hder__utp-center
		font-size 30px
	.hder__utp-center-row2,
	.hder__utp-center-row1
		line-height 40px
	.hder__utp-center
		margin 50px 0
		padding 30px 0
/* /header */
