.kar-gift
  .kar-gift__bg
  .kar-gift__container.container
    p.kar-gift__p
      strong.kar-gift__l-w ПРИ ПОКУПКЕ ЭЛЕКТРОКАРНИЗА ИЛИ ЭЛЕКТРОШТОРЫ
      br
      span.kar-gift__s-w настенный выключатель - 
        strong.c-red в подарок!
    p.kar-gift__p
      strong.kar-gift__l-w ПРИ ПОКУПКЕ ОТ 2-Х СИСТЕМ - 
      span.kar-gift__s-w датчик света* 
        strong.c-red в подарок!
    .kar-gift__btn
      button(type="button" data-toggle="modal" data-target="#calculate" class="video-cat__btn") Купить
    .kar-gift__notice
      strong.c-orange * 
      | Датчик света позволяет реализовать автоматическое (через контроллер) управление шторами в зависимости от времени суток (светло-темно).
      br
      | Элемент Умного Дома
  
