.video-cat.domof__catalog.domof__catalog_kar
  .video-kar__bg
  .container
    .row
      .col-12
        // Заголовок
        .video-cat__ttl Полную информацию смотрите 
          strong в нашем каталоге
      .col-12.d-flex.justify-content-around.flex-wrap
        // Инпуты
        .main-form__form-inpt.main-form__form-inpt-left
          input.main-form__form-inpt-input(value='' type='text' name='name' onkeyup="this.setAttribute('value', this.value);")
          label.main-form__form-inpt-label(for='name') Ваше имя
        .main-form__form-inpt.main-form__form-inpt-left
          input.main-form__form-inpt-input(value='' type='text' name='phone' onkeyup="this.setAttribute('value', this.value);")
          label.main-form__form-inpt-label(for='phone') Ваш телефон
        .main-form__form-inpt.main-form__form-inpt-left
          input.main-form__form-inpt-input(value='' type='text' name='mail' onkeyup="this.setAttribute('value', this.value);")
          label.main-form__form-inpt-label(for='mail') Ваш email
      .col-12.text-center
        // Примечание
        .video-cat__notice 
          span.main-form__form-txt-txt-star * 
          | Отправляя форму, Вы соглашаетесь с нашей 
          span.video-cat__notice-politics(data-toggle='modal' data-target='#calculate') политикой конфиденциальности        
      .col-12.text-center
        // Кнопка
        button.video-cat__btn(type='button' data-toggle='modal' data-target='#calculate') Получить каталог
  
