extends /blocks/header/header

block headerVars
  - var headerType = 'header-kar header-video';

block centerUtp
  .col-12.text-center
    .hder__utp-center
      .hder__utp-center-row1
        strong Электрокарнизы					
      .hder__utp-center-separ
      .hder__utp-center-row2
        .hder__utp-center-row2-ttl Электрокарнизы 
          strong от 
            span.six-five-zero-zero 15 999 руб. 
          | с установкой - 
          strong за 7 дней!
        ul.hder__utp-center-row2-ul
          li 
            .hder__utp-center-row2-ul-cntnt Новый 
              strong уровень комфорта
          li
            .hder__utp-center-row2-ul-cntnt
              strong Эркерные и угловые формы
          li
            .hder__utp-center-row2-ul-cntnt Размеры с точностью до сантиметра, 
              strong гарантия 3 года
          li
            .hder__utp-center-row2-ul-cntnt Интегрируется с системами 
              strong "умный дом"
          li
            .hder__utp-center-row2-ul-cntnt Легкое и стильное 
              strong зонирование пространства
