/* Электрокарнизы */
.header-kar
  background-image url(../../images/kar__header.png)
.you-get__bg.you-get__bg_kar
  z-index 10


  /* Рекламные ячейки */
.kar__adv
  position relative
  z-index 20
  margin-top -40px
  margin-bottom -169px

.kar__adv-item
  height 215px
  background-position center
  background-size cover
  background-repeat no-repeat
  margin-bottom 30px
  padding-top 40px
  padding-left 40px
  box-shadow 0 0 15px 0px grey

.kar__adv-item1
  background-image url(../../images/kar__adv-item1.png)
.kar__adv-item2
  background-image url(../../images/kar__adv-item2.png)
.kar__adv-item3
  background-image url(../../images/kar__adv-item3.png)
.kar__adv-item4
  background-image url(../../images/kar__adv-item4.png)

.kar__adv-item-txt
  font-size 25px
  color #fff
  line-height 32px
  /* /Рекламные ячейки */

  /* Подарок */
.kar-gift
  padding 200px 0
  position relative

.kar-gift__bg
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  overflow hidden
  transform skewY(-7deg)
  z-index 10

.kar-gift__bg:before
  content ''
  position absolute
  top 0
  bottom 0
  left 0
  width 100%
  background-image url(../../images/kar__gift-bg.png)
  background-position center
  background-size cover
  background-repeat no-repeat
  transform skewY(7deg)

.kar-gift__container
  position relative
  z-index 20
  text-align center
  color #fff

.kar-gift__l-w
  font-size 30px

.kar-gift__s-w
  font-size 30px

.kar-gift__btn
  font-size 18px
  margin-top 80px

.kar-gift__p
  margin-bottom 40px
  line-height 30px

.kar-gift__notice
  font-weight 300
  font-size 16px
  line-height 26px
  margin-top 20px


  /* /Подарок */

/* /Электрокарнизы */
