.we-set.kar-prods
  .we-set__bg.we-set__bg_prods
  .we-set__container.container
    .row
      .col-12.px-2.p-sm-0
        .we-set__ttl.we-set__ttl_kar.we-set__ttl_prods Сегодняшний рынок автоматических систем солнцезащиты предлагает несколько интересных и функциональных систем для квартир, домов:
      // Ячейка1
      mixin we-set__imgs(bgi)
        // Изображения
        .col-12.col-lg-6.mt-4.mb-4.mb-lg-0.p-0
          // мини-галерея
          .we-set__imgs.we-set__imgs1
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
            a.we-set__imgs.we-set__imgs-a(data-fancybox="gallery" href= bgi)
              .we-set__imgs-img(style='background-image: url(' + bgi + ');' )
      mixin we-set__cntnt(ttl, lr, ...values)
        // Описание
        .col-12.col-lg-6.mt-4.mb-4.mb-lg-0.p-0.d-flex(class= lr)
          .we-set__cntnt
            .we-set__cntnt-ttl.we-set__cntnt-ttl_kar= ttl
            .we-set__cntnt-txt
              each val in values
                p= val
      +we-set__imgs('images/we-set__imgs.png')
      +we-set__cntnt('Электрические горизонтальные карнизы', 'we-set__cntnt-ttl-right', 'Это система, состоящая из специального алюминиевого профиля, внутри которого располагается специальный ремень, с помощью которого электромотор двигает шторы.', 'Есть возможность изготовления гнутых профилей различных величин углов – с помощью пластиковых переходников или путем изгиба самого профиля на специальном станке.', 'Очень красивые решения получаются для эркеров, когда у Вас панорамные окна! Это просто завораживающее зрелище – когда шторы бесшумно раздвигаются, как в театре, открывая вид из окна.', 'Длинна горизонтального электрокарниза может достигать 18 метров. Профиль стандартной длины 6м. Поэтому стоимость карниза зависит от длины профиля и площади штор.', 'Крепления для карниза бывают потолочные и настенные.', 'Для обычных штор крепления используются через каждый метр карниза. Если материал штор тяжелый и большая высота потолков, то крепления устанавливаются чаще. Возможно применение второго двигателя.', 'Способы раздвижения – от центра и к краям.', 'Управление  - пульт ДУ, настенные выключатели.')
      +we-set__cntnt('Электрические рулонные шторы', 'we-set__cntnt-ttl-left', 'Очень красивые решения получаются для эркеров, когда у Вас панорамные окна! Это просто завораживающее зрелище – когда шторы бесшумно раздвигаются, как в театре, открывая вид из окна.', 'Длинна горизонтального электрокарниза может достигать 18 метров. Профиль стандартной длины 6м. Поэтому стоимость карниза зависит от длины профиля и площади штор.', 'Крепления для карниза бывают потолочные и настенные.')
      +we-set__imgs('images/we-set__imgs2.png')
      +we-set__imgs('images/we-set__imgs3.png')
      +we-set__cntnt('Электрические ВЕРТИКАЛЬНЫЕ карнизы', 'we-set__cntnt-ttl-right', 'Это система, состоящая из специального алюминиевого профиля, внутри которого располагается специальный ремень, с помощью которого электромотор двигает шторы.', 'Есть возможность изготовления гнутых профилей различных величин углов – с помощью пластиковых переходников или путем изгиба самого профиля на специальном станке.', 'Очень красивые решения получаются для эркеров, когда у Вас панорамные окна! Это просто завораживающее зрелище – когда шторы бесшумно раздвигаются, как в театре, открывая вид из окна.', 'Длинна горизонтального электрокарниза может достигать 18 метров. Профиль стандартной длины 6м. Поэтому стоимость карниза зависит от длины профиля и площади штор.', 'Крепления для карниза бывают потолочные и настенные.', 'Для обычных штор крепления используются через каждый метр карниза. Если материал штор тяжелый и большая высота потолков, то крепления устанавливаются чаще. Возможно применение второго двигателя.', 'Способы раздвижения – от центра и к краям.', 'Управление  - пульт ДУ, настенные выключатели.')
      +we-set__cntnt('Автоматические маркизы и перголы', 'we-set__cntnt-ttl-left', 'Очень красивые решения получаются для эркеров, когда у Вас панорамные окна! Это просто завораживающее зрелище – когда шторы бесшумно раздвигаются, как в театре, открывая вид из окна.', 'Длинна горизонтального электрокарниза может достигать 18 метров. Профиль стандартной длины 6м. Поэтому стоимость карниза зависит от длины профиля и площади штор.', 'Крепления для карниза бывают потолочные и настенные.', 'Длинна горизонтального электрокарниза может достигать 18 метров. Профиль стандартной длины 6м. Поэтому стоимость карниза зависит от длины профиля и площади штор.', 'Крепления для карниза бывают потолочные и настенные.')
      +we-set__imgs('images/we-set__imgs4.png')
