extends /blocks/testUtp/testUtp

block utpVars
	- var testUtpTopBtnTxt = 'Рассчитать стоимость онлайн';	

block testUtpTop
	.cat-video__utp-top 
		strong.c-yellow Надоело открывать и закрывать шторы руками?
		.cat-video__utp-top-simple-text Считаете, что достойны нового уровня комфорта?

block testUtpBottom
	.cat-video__utp-bottom Автоматические системы управления шторами - для Вас!
