.you-get
  .you-get__bg.you-get__bg_kar
  // УТП
  include /blocks/catalog/kar/testUtpKar.jade
  // /УТП
  .kar__adv.container
    .row
      .col-12.col-lg-6
        .kar__adv-item.kar__adv-item1
          .kar__adv-item-txt Электрокарнизы от 
            strong.c-red 15 999 руб.
            br
            | с установкой - за 7 дней
      .col-12.col-lg-6
        .kar__adv-item.kar__adv-item2
          .kar__adv-item-txt РУЛОННЫЕ ШТОРЫ
            br
            | комплект от 
            strong.c-red 10 999 руб.
      .col-12.col-lg-6
        .kar__adv-item.kar__adv-item3
          .kar__adv-item-txt ВЕРТИКАЛЬНЫЕ ЭЛЕКТРОЖАЛЮЗИ
            br
            | "ПОД КЛЮЧ" - от 
            strong.c-red 27 999 руб.
      .col-12.col-lg-6
        .kar__adv-item.kar__adv-item4
          .kar__adv-item-txt Автоматические МАРКИЗЫ
            br
            | "ПОД КЛЮЧ" - от 
            strong.c-red 49 999 руб.
