/* Отзывы */
.main-reviews
	display block
	padding 170px 0 0
	position relative

.main-reviews__bg
	position absolute
	width 100%
	top -30px
	bottom -70px
	transform skewY(-7deg)
	overflow hidden
	z-index 10
.main-reviews__bg:before
	content ''
	position absolute
	width 100%
	top -160px
	bottom -160px
	background-image url('../../images/main-reviews__bg.png')
	background-position center
	background-size cover
	transform skewY(7deg)

.main-reviews__ttl-container,
.main-reviews__items-container,
.main-reviews__arrows-wrap
	position relative
	z-index 10

.main-reviews__ttl-container
	margin-bottom 60px

.main-reviews__ttl
	font-size 60px
	color #fff
	text-align center
	padding 0 50px
.main-reviews__ttl-left,
.main-reviews__ttl-right
	position relative
	flex-grow 1

.main-reviews__ttl-wrap
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content space-between
.main-reviews__ttl-separ:before
	content ''
	position absolute
	width 100%
	height 3px
	top 60%
	transform translateY(-50%)
	background-color yellow

.main-reviews__item
	padding 0 10px
.main-reviews__item-wrap
	background-color rgba(#ffffff, 0.7)
	border-bottom 6px solid $howOrange
	padding 20px

.main-reviews__item-head
	display -webkit-flex
	display -ms-flex
	display flex
	align-items center
	justify-content space-between
	padding-bottom 15px

.main-reviews__item-head-ttl
	font-size 18px
	line-height 18px
	font-weight 600
	color $hderBlue

.main-reviews__item-body-txt
	font-size 16px
	line-height 18px
	font-weight 300
	padding-bottom 15px

.main-reviews__item-body-video
	padding-bottom 15px

.main-reviews__item-body
	border-bottom 1px	solid #a2
	border-top 1px	solid #a2
	padding-top 15px

.main-reviews__item-footer
	padding-top 15px
	display -webkit-flex
	display -ms-flex
	display flex
	align-items center

.main-reviews__item-footer-right
	padding-left 20px

.main-reviews__item-footer-right-ttl
	color $hderBlue
	font-size 18px
	font-weight 600
	padding 10px 0

.main-reviews__item-footer-right-cntnt
	font-size 14px
	line-height 18px
	color #30

.main-gallery__arrows-wrap_reviews
	.main-gallery__arrows
		justify-content center
		margin-top 60px

.main-reviews
	.slick-arrow
		display none !important

@media screen and (max-width 425px)
	.main-reviews__ttl
		font-size 50px
/* /Отзывы */
