mixin team()
	+b.team&attributes(attributes)
		block
		.director
			.container
				.sepr
				.director-title
					h1.text-center Обращение директора
				.sepr
				.text-left
					span.font-bold.pb-2(style='line-height: 40px;') Здравствуйте, дорогие Друзья, Клиенты и Партнеры!
					.director-photo.float-right.bg-g.ml-3.mb-3.c-lg.d-flex.justify-content-center.align-items-center фото директора
					br
					| Я – Владимир Жмур, основатель и директор по развитию компании «КЛЕВЕР».
					br
					| Благодарю Вас за проявленный интерес к нашей продукции.
					br
					| «КЛЕВЕР»  – молодая севастопольская компания, созданная для предоставления жителям Крыма услуг по автоматизации комфорта и безопасности Дома и бизнеса.
					br
					| Наши  партнеры - компании из Крыма, Ростова-на-Дону, Москвы и Благовещенска (Амурская область).Такая обширная география партнеров связана с нашим стремлением выбирать лучшие  инженерные решения для   реализации Ваших желаний.
					br
					| Инженеры ООО  "КЛЕВЕР" - профессионалы автоматизации. Атомщики и микроэлектронщики, программисты и электрики.
					br 
					| Мы приготовили для Вас предложения в пяти направлениях:
					br
					| "Умный Дом" чешской компании Яблотрон;
					br
					| защита от солнца  -жалюзи и маркизы, механические и автоматические,  производства Испании, Италии, Германии и КНР;
					br
					| IP-видеонаблюдение;
					br
					| видеодомофоны;
					br
					| энергосбережение и контроль доступа для гостиниц и офисов, программы учета работы персонала.
					br
					.font-bold Наша миссия – инновационная автоматика в каждый Дом и офис.
					br
					h4.text-center.mt-2 Добро пожаловать в мир инноваций «КЛЕВЕР»!
				.sepr
				.sepr-hr.brd-g
				.sepr
			.container
				h2.text-center Наша команда (3 человека)
				.sepr
				.row.flex-row
					.col-4
						.team-prsn.bg-lg.brd-w
							.team-prsn__photo.bg-g
							.team-prsn__about.px-3
								.team-prsn__title.pt-4 Сергей Иванов
								.team-prsn__text.pb-4 заместитель директора
					.col-4
						.team-prsn.bg-lg.brd-w
							.team-prsn__photo.bg-g
							.team-prsn__about.px-3
								.team-prsn__title.pt-4 Иван Сергеев
								.team-prsn__text.pb-4 инженер-наладчик
					.col-4
						.team-prsn.bg-lg.brd-w
							.team-prsn__photo.bg-g
							.team-prsn__about.px-3
								.team-prsn__title.pt-4 Сергей Иванов
								.team-prsn__text.pb-4 специалист по коммуникациям
				.sepr
						
		.sepr
		.sepr
