/* Галерея */
.main-form.main-form_gallery
  z-index 20

  /* ячейки */
.gallery-item
  .main-gallery__items .slick-center a
    box-shadow 0 0 30px -2px grey
.page-gallery__video-item
  iframe
    box-shadow 0 0 30px -2px grey


.gallery__item
  display block
  height 365px
  position relative
  background-color #00427b
  margin-bottom 30px
  box-shadow 0 0 30px -2px grey

.gallery__item:hover
  .gallery__item-bg
    opacity .7
  .gallery__item-ttl
    text-decoration underline

.gallery__item-bg
  position absolute
  height 100%
  width 100%
  top 0
  left 0
  background-image url('../../images/gallery__item.png')
  background-position center
  background-size cover
  transition .2s ease

.gallery__item-ttl
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  color #fff
  font-size 24px
  /* /ячейки */

  /* пагинация */
.col.gallery__pagntn
  display -webkit-flex
  display -ms-flex
  display flex
.gallery__pagntn-item
  margin-right 20px
  width 40px
  height 40px
  border 1px solid #bfbfbf
  transition .2s ease
  display block
  color #000
.gallery__pagntn-item:last-child
  margin-right 0
.gallery__pagntn-item:hover
  color #000
  text-decoration none
  border-color $howOrange
.gallery__pagntn-item.active
  color #fff
  background-color $howOrange
  border-color $howOrange
.gallery__pagntn-item.active:hover
  color #fff
.gallery__items
  margin-bottom 70px

.gallery__pagntn-page
  padding 10px 14px
  font-size 18px


.gallery__pagntn-arrow
  position relative
  display -webkit-flex
  display -ms-flex
  display flex
  align-items center
.gallery__pagntn-arrow:before
  content ''
  position absolute
  height 20px
  width 20px
  border-left 1px solid #000
  border-top 1px solid #000
.gallery__pagntn-arrow-right:before
  transform rotate(135deg)
  left 4px
.gallery__pagntn-arrow-left:before
  transform rotate(-45deg)
  right 4px
  /* /пагинация */

  /* стрелки */
.page-gallery__arrows
  .main-gallery__arrows-center-current,
  .main-gallery__arrows-center-all
    color $fterBlue
  .main-gallery__arrows-center-txt
    color #101010
    font-weight 600
  .main-gallery__arrows-arrow
    border-color #101010
  .main-gallery__arrows-arrow:hover
    border-color $howOrange
  .main-gallery__arrows-wrap
    display -webkit-flex
    display -ms-flex
    display flex
    justify-content center

.gallery-item
  .slick-arrow
    display none !important
  /* /стрелки */

  /* Видеогалерея */
.page-gallery__video-item
  margin-bottom 30px
.page-gallery__video-items
  margin-bottom 150px
  /* /Видеогалерея */

/* /Галерея */
