include /blocks/testUtp/testUtp

mixin main-catalog()
	+b.main-catalog&attributes(attributes)
		block
		//- Тест/УТП
		+testUtp()
		// Блоки
		.container
			.row.flex-wrap#mainCat
				.col-12.col-lg-6
					mixin mainCatItem(cls1, cls2, ttl, id, tgt)
						.main-cat__item.collapsed(data-toggle='collapse' data-target= tgt class= cls1).mb-4
							.main-cat__item-logo(class= cls2)
							.main-cat__item-ttl= ttl
							.main-cat__item-cntnt.collapse(id= id data-parent="#mainCat") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel suscipit, nulla quidem nobis quibusdam dolorum consectetur voluptatum architecto. Qui rem, saepe nesciunt, dicta impedit rerum dolore modi consequuntur doloribus non.
					// Умный дом
					.main-cat__item(data-toggle='collapse' data-target='#catItemHouse' class='main-cat__item-house').mb-4
						.main-cat__item-logo(class='main-cat__item-logo-house')
						.main-cat__item-ttl Умный дом
						.main-cat__item-cntnt.collapse.show(id='catItemHouse' data-parent="#mainCat") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel suscipit, nulla quidem nobis quibusdam dolorum consectetur voluptatum architecto. Qui rem, saepe nesciunt, dicta impedit rerum dolore modi consequuntur doloribus non.
					//- +mainCatItem('main-cat__item-house', 'main-cat__item-logo-house', 'Умный дом', 'catItemHouse', '#catItemHouse')					
					// Системы солнцезащиты
					+mainCatItem('main-cat__item-sun', 'main-cat__item-logo-sun', 'Системы солнцезащиты', 'catItemSun', '#catItemSun')
					// Видеонаблюдение
					+mainCatItem('main-cat__item-video', 'main-cat__item-logo-video', 'Видеонаблюдение', 'catItemVideo', '#catItemVideo')
				.col-12.col-lg-6
					// СКУД
					+mainCatItem('main-cat__item-skud', 'main-cat__item-logo-skud', 'СКУД для гостиниц', 'catItemSkud', '#catItemSkud')
					// Пожарная сигнализация
					+mainCatItem('main-cat__item-fire', 'main-cat__item-logo-fire', 'Пожарная сигнализация', 'catItemFire', '#catItemFire')
					// Домофоны
					+mainCatItem('main-cat__item-inter', 'main-cat__item-logo-inter', 'Домофоны', 'catItemInter', '#catItemInter')						
		// /Блоки
