mixin modals()
	+b.modals&attributes(attributes)
		block
		// модалка.Заказать звонок в шапке
		#headerCallback.modal.fade
			.modal-dialog
				.modal-content
					.modal-content__bg-head
						.main-form__form-ttl2 Оставьте номер телефона, и мы обязательно перезвоним Вам
					form#contactsForm.main-form__form.contacts__form(action="/send.php" method="POST")
						.main-form__form-inpts
							.main-form__form-inpt.main-form__form-inpt-left
								input.main-form__form-inpt-input(value='' type='text' name='name' onkeyup="this.setAttribute('value', this.value);")
								label.main-form__form-inpt-label(for='name') Ваше имя
							.main-form__form-inpt.main-form__form-inpt-right
								input.main-form__form-inpt-input(value='' type='text' name='phone' onkeyup="this.setAttribute('value', this.value);")
								label.main-form__form-inpt-label(for='phone') Ваш номер телефона
						.main-form__form-btn
							button.hder__test-button(type='submit') Отправить
		// /Заказать звонок в шапке

		// Рассчитать стоимость онлайн
		#calculate.modal.fade
			.modal-dialog
				.modal-content
					.modal-content__bg-head
						.main-form__form-ttl2 Оставьте заявку на расчет, и наш менеджер свяжется с Вами
					form#contactsForm.main-form__form.contacts__form(action="/send.php" method="POST")
						.main-form__form-inpts
							.main-form__form-inpt.main-form__form-inpt-left
								input.main-form__form-inpt-input(value='' type='text' name='name' onkeyup="this.setAttribute('value', this.value);")
								label.main-form__form-inpt-label(for='name') Ваше имя
							.main-form__form-inpt.main-form__form-inpt-right
								input.main-form__form-inpt-input(value='' type='text' name='phone' onkeyup="this.setAttribute('value', this.value);")
								label.main-form__form-inpt-label(for='phone') Ваш номер телефона
							.main-form__form-inpt.main-form__form-inpt-center
								input.main-form__form-inpt-input(value='' type='text' name='more' onkeyup="this.setAttribute('value', this.value);")
								label.main-form__form-inpt-label(for='more') Дополнительная информация
						.main-form__form-btn
							button.hder__test-button(type='submit') Отправить
		// /Рассчитать стоимость онлайн
