.fire__benefits
  .fire__benefits-bg
  // УТП
  include /blocks/catalog/fire/fire-test-utp.jade
  // /УТП
  // Текст
  .container
    .fire__benefits-text
      p
        span.fire-very-large ООО КЛЕВЕР 
        | работает с ведущими монтажными организациями Крыма. Мы предлагаем Вам противопожарное оборудование, одобренное МЧС России: «СИБИРСКИЙ АРСЕНАЛ», «Болид», «Гранит» и другие.
      p Мы предлагаем установку 
        span.fire-yellow адресной или аналоговой 
        | пожарной сигнализации.
      .fire__benefits-text-ttl Преимущества адресной пожарной сигнализации:
      img.fire__benefits-text-img(src='images/fire__benefits-text1.png')
      ol.fire__benefits-text-ol
        li.fire__benefits-text-li Полнота информации о событии: мы можем получать 
          strong точную информацию о месте возникновения проблемы и ее деталях 
          | – возможность оперативно отреагировать и локализовать проблему.
        li.fire__benefits-text-li
          strong Удаленное регулирование 
          | параметров датчика – минимизирует количество ложных тревог.
        li.fire__benefits-text-li
          strong Удаленное проведение регламентных работ 
          | – экономия на количестве техобслуживаний системы.
        li.fire__benefits-text-li Точность места обнаружения опасности.
        li.fire__benefits-text-li Визуальный  контроль работы системы по информативному табло (ЖК /светодиод).
        li.fire__benefits-text-li Интегрируется с системой «Умный дом».
        li.fire__benefits-text-li Адресные системы могут быть как проводными, так и беспроводными.
      p Если объект оборудован системой пожаротушения или дымоудаления, используются только адресные датчики.
      .fire__benefits-text-ttl Аналоговая пожарная сигнализаци:
      .fire__benefits-text-center
        img(src='images/fire__benefits-text2.png')
        p Проводная пожарная сигнализация
          br 
          | Преимущество такой системы – 
          span(style='color: yellow;') низкая цена.
          
        
  // /Текст
