.video-faq
  .video-faq__bg
  +contentTitle('Остались вопросы?')
  .container
    .row
      .col-12
        .video-faq__items#video-faq__items
          mixin collapse(headClss, bdyId, bdyClss, txtHead, txtBody)
            .card
              .card-header
                .video-faq__items-ttl(data-toggle='collapse' data-target= '#' + bdyId class= headClss)= txtHead
              div(data-parent='#video-faq__items' id= bdyId class= bdyClss)
                .card-body= txtBody
          +collapse('', 'card-body1', 'collapse show', 'Кто имеет право установки пожарной сигнализации?', 'Только организации, имеющие лицензию МЧС РФ . Обратитесь к нам, наши партнеры  -  монтажные и проектные лицензированные организации.')
          +collapse('collapsed', 'card-body2', 'collapse', 'Пожарная сигнализация – это дорого?', 'Всё зависит от назначения используемого помещения и параметров самого помещения. Места массового скопления людей и опасные производства требуют установки автоматических систем пожаротушения и другого высокотехнологичного оборудования, серьезного проектирования. Оборудование для дома и офиса, небольшой торговой точки доступно любому собственнику помещения, т.к. используются, в основном отечественные материалы.')
          +collapse('collapsed', 'card-body3', 'collapse', 'Установленная система пожарной сигнализации гарантирует пожарную безопасность?', 'Пожарную безопасность на объекте обеспечивает множество факторов – это и правильно выбранное и профессионально установленное оборудование, профилактическая работа, наличие средств пожаротушения и др. Только комплексные меры позволяют говорить о качестве  пожарной безопасности объекта. Эти меры тщательно прописаны в Законе.')          
          +collapse('collapsed', 'card-body4', 'collapse', 'Как самому сделать проект пожарной сигнализации?', 'Разработка проекта пожарной сигнализации относится к лицензированным видам деятельности. Обратитесь к нам, и мы обеспечим Вам выполнение работ «ПОД КЛЮЧ», в строгом соответствии с законодательством РФ.')
          +collapse('collapsed', 'card-body5', 'collapse', 'Какие гарантии качества вашей работы?', 'Гарантией качества нашей работы будет положительное заключение МЧС о соответствии объекта требованиям пожарной безопасности. Мы даем такую гарантию.')          
          +collapse('collapsed', 'card-body6', 'collapse', 'У меня уже 10 лет стоит пожарка, мне надо ставить новую?', 'Крым – республика со своей спецификой. Установленное ранее оборудование может не соответствовать нормам законодательства РФ. Важный фактор – регулярное ТО системы и модернизация устаревшего оборудования. Обратитесь к нам, мы проведем бесплатную экспертизу Вашего оборудования и выдадим рекомендации. У нас же Вы сможете заказать все виды соответствующих работ и необходимых материалов.')          
          +collapse('collapsed', 'card-body7', 'collapse', 'Мы всю жизнь работаем без пожарки. И ничего.', 'Крым сменил юрисдикцию. Российские законы жестко наказывают за несоблюдение требований по ПБ, вплоть до уголовной ответственности. Угроза для Вашего бизнеса – запрет эксплуатации объекта. Обратитесь к нам. Мы рассчитаем Вам проект строго в соответствии с законодательством РФ.')
