.fire__why
  .fire__why-bg
  .fire__why-container.container
    .main-team__ttl-row.main-team__ttl-row_fire
      .main-team__ttl-txt Почему мы?
    p.fire__why-p
      strong КЛЕВЕР 
      | – крымская компания, работающая в сфере монтажа систем охранно-пожарной сигнализации и автоматизации. В штате предприятия инженеры с 5-ти летним опытом  монтажей ПОС на Украине, в Крыму и в России. Используем только сертифицированное отечественное оборудование, одобренное МЧС РФ.
    .row
      .col-12.col-lg-6
        .video-cat__item
          .video-cat__item-img
            img(src='images/cat-symbol-check.png')
          .video-cat__item-txt
            strong Гарантия 
            | сдачи Вашего объекта в эксплуатацию
      .col-12.col-lg-6
        .video-cat__item
          .video-cat__item-img
            img(src='images/cat-symbol-check.png')
          .video-cat__item-txt
            strong Бесплатный 
            | предварительный расчет системы пожаро-охранной сигнализации
      .col-12.col-lg-6
        .video-cat__item
          .video-cat__item-img
            img(src='images/cat-symbol-check.png')
          .video-cat__item-txt Оформление нашей ответственности 
            strong по договору
      .col-12.col-lg-6
        .video-cat__item
          .video-cat__item-img
            img(src='images/cat-symbol-check.png')
          .video-cat__item-txt Срок создания проекта – 
            strong 10 календарных дней
      .col-12.col-lg-6
        .video-cat__item
          .video-cat__item-img
            img(src='images/cat-symbol-check.png')
          .video-cat__item-txt Проводим 
            strong обучение персонала             
            | пользованию ПОС до полного усвоения навыков
      .col-12.col-lg-6
        .video-cat__item
          .video-cat__item-img
            img(src='images/cat-symbol-check.png')
          .video-cat__item-txt Скорость монтажа – 
            strong ОДИН ЭТАЖ - ЗА ОДИН ДЕНЬ!
      .col-12.col-lg-6
        .video-cat__item
          .video-cat__item-img
            img(src='images/cat-symbol-check.png')
          .video-cat__item-txt
            strong Гарантийное и постгарантийное обслуживание
      
