extends /blocks/header/header

block headerVars
  - var headerType = 'header-video header-fire';

block centerUtp
  .col-12.text-center
    .hder__utp-center
      .hder__utp-center-row1
        strong Пожарная сигнализация					
      .hder__utp-center-separ
      .hder__utp-center-row2
        ul.hder__utp-center-row2-ul
          li 
            .hder__utp-center-row2-ul-cntnt
              strong Установка 
              | системы пожарной безопасности + 
              strong проект
          li
            .hder__utp-center-row2-ul-cntnt
              strong ЛЕТНЯЯ
                span.pod-klyuch СКИДКА 
                | НА ПРОЕКТ
                span.six-five-zero-zero 15%
          li
            .hder__utp-center-row2-ul-cntnt При монтаже площадью от 100 м - он-лайн оповещение - 
              strong в подарок!
          li
            .hder__utp-center-row2-ul-cntnt
              strong МОНТАЖ ПОЖАРНОЙ СИГНАЛИЗАЦИИ:
                span.pod-klyuch 1 этаж 
                | - 
                span.six-five-zero-zero 1 день!
                
