extends /blocks/testUtp/testUtp

block utpVars
	- var testUtpTopBtnTxt = 'Рассчитать стоимость';	

block testUtpTop
	.cat-video__utp-top.cat-video__utp-top_fire Заботитесь о безопасности		
		br
		strong.c-yellow жизни своих близких и своего имущества?

block testUtpBottom
	.cat-video__utp-bottom.cat-video__utp-bottom_fire Вам выписали предписание и необходимо срочно установить "ПОЖАРКУ"?
		br
		| Хотите спокойно встречать проверки МЧС?
		br
		strong.cat-video__utp-bottom_fire-orange Закажите систему пожарной безопасности!
