.exmple__skud
  .exmple__skud-bg
  .container
    .you-get2__skud-ttl-block
      .you-get2__skud-ttl-txt Пример расчета окупаемости установки
    .exmple__skud-txt
      p Номер 20 м. Обычный кондиционер потребляет примерно 2 кВт/час. 
      p Из 24-х часов в сутки клиента нет в номере МИНИМУМ 8 часов в день. Возьмем минимальную цифру – 
        strong 7 часов 
        | в сутки гостей нет в номере.
      p Берем заполнение номеров 70%. Период - 4 месяца. Со второй половины мая – до первой половины сентября.
        br
        | Отель на 
        strong 30 номеров
        | , заполнение 
        strong 70% 
        | = 21 номер.
        br
        | Стоимость кВт тоже возьмем минимальную, 
        strong 2,5 рубля.
      p Впустую вылетает:
        br
        | 2 кВт * 7 часов * 2,5 рубля * 21 номер * 30,5 дня = 
        strong 22 417 рублей в месяц МИНИМУМ. 
        | За 4 месяца = 
        strong 89 670 рублей! 
        br
        | Что бы посчитать перерасход электроэнергии от работы кондиционера 
        strong при открытых окнах и балконах
        | , умножьте эту цифру минимум на 1,5… Впечатляет?!
      p Наше предложение сэкономит Вам сотни тысяч рублей и повысит доход уже в этом сезоне!
