.video-faq
  .video-faq__bg
  +contentTitle('Остались вопросы?')
  .container
    .row
      .col-12
        .video-faq__items#video-faq__items
          mixin collapse(headClss, bdyId, bdyClss, txtHead, txtBody)
            .card
              .card-header
                .video-faq__items-ttl(data-toggle='collapse' data-target= '#' + bdyId class= headClss)= txtHead
              div(data-parent='#video-faq__items' id= bdyId class= bdyClss)
                .card-body= txtBody
          +collapse('', 'card-body1', 'collapse show', 'Установка электронных замков  – это сложно и дорого?', 'Нет. Наши замки подходят к дверям толщиной от 38 до 80 мм, практически ко всем дверям. Мы просто вытаскиваем  старый замок и вставляем наш, электронный. Он сразу готов к работе. Стоимость нашей системы на 50% ниже стоимости ближайших конкурентов. Фактически, мы предоставляем целую систему по цене замка. Этого удается добиться за счет прямого контракта с производителем, продуманной логистики и клиентоориентированной политики компании.')
          +collapse('collapsed', 'card-body2', 'collapse', 'Программное обеспечение – это, наверное, нужен специалист, что бы с ним работать?', 'Наше программное обеспечение рассчитано на обычных администраторов. Управляться с ним не сложнее, чем с меню мобильного телефона. Мы проводим бесплатное обучение персонала до полного усвоения навыков пользования. Обычно обучение занимает 1-2 часа.')
          +collapse('collapsed', 'card-body3', 'collapse', 'Замки на батарейках. А если батарейка сядет?', 'Батареи работают 1 год. В наших замках установлен датчик сигнала снижения заряда батареи. Замок в течении 2-х недель подает звуковой и световой сигнал о необходимости замены батареек при поднесении карты-ключа. В комплекте к замку идет 2 ключа для экстренного открывания. Вы всегда сможете открыть/закрыть замок.')
          +collapse('collapsed', 'card-body4', 'collapse', 'А если всё же замок забарахлит? Вы будете ремонтировать замок, а мы – сидеть с открытыми дверями?', 'Конечно, нет.  Всё оборудование исключительно надёжно. В наших замках используются микро-приводы MABUCHI ( ЯПОНИЯ ) c ресурсом до 500.000 срабатываний. При возникновении любой не устраняемой на месте проблемы мы просто меняем замок на новый.')
          +collapse('collapsed', 'card-body5', 'collapse', 'А если гость забудет закрыть дверь?', 'В наших замках установлен датчик звукового оповещения открытой двери.')
          +collapse('collapsed', 'card-body6', 'collapse', 'А если гость потеряет карту-ключ?', 'На каждый номер идет комплект из 3-х «умных» карт. Плюс мы предоставляем комплект запасных карт. Администратор отеля при помощи кодировочного прибора в течении 2-3 минут запрограммирует новую карту с сохранением всей истории платежей клиента.')
          +collapse('collapsed', 'card-body7', 'collapse', 'Можно ли оставить электричество включенным, если в энергосберегающий карман вставить простую картонку? Я так делал в Турции.', 'Нет. Наши карты и «карманы» умные. В карте есть чип, и карман не сработает, пока не получит сигнал с карты. Даже использование «умной» карты от другого номера не активирует карман. Электричество включится/выключится только при взаимодействии кармана только со «своей» картой, именно от этого номера.')
          +collapse('collapsed', 'card-body8', 'collapse', 'Как передается информация от замка в систему, если замки не подключены к компьютеру?', 'Передатчик информации – карта. Находящийся внутри чип переносит информацию от ПО в замок, в котором находится устройство памяти, микропроцессор. При программировании карты на неё заносится информация о количестве купленных дней проживания. При открытии двери происходит обмен данными карты с замком. Замок имеет память на 992 события.')
          +collapse('collapsed', 'card-body8', 'collapse', 'Как заказать установку вашей системы и когда вы сможете начать?', 'Вы оставляете заявку на сайте, либо звоните на наш номер. Наш специалист связывается с Вами, уточняет информацию по заказу и направляет к Вам инженера для осмотра здания и принятия заказа. После этого с Вами согласовывается смета, заключается договор, мы составляем проект, утверждаем его у Вас и приступаем к работе. Обычно на всё-про всё уходит 1-2 дня. В договоре указываются сроки выполнения работ. Окончание работ оформляется актом приема-сдачи работ.')
