extends /blocks/header/header

block headerVars
  - var headerType = 'header-video header-domof header-skud';

block centerUtp
  .col-12.text-center
    .hder__utp-center
      .hder__utp-center-row1
        strong Системы контроля учета доступа				
      .hder__utp-center-row1-2 установка электронных замков для гостиниц по всему Крыму
      .hder__utp-center-separ
      .hder__utp-center-row2
        .hder__utp-center-row2-ttl Увеличение прибыли отеля 
          strong от 
            span.six-five-zero-zero 20% 
            | в месяц!
        ul.hder__utp-center-row2-ul
          li 
            .hder__utp-center-row2-ul-cntnt 
              strong отсрочка платежа
              | до конца сезона
          li
            .hder__utp-center-row2-ul-cntnt программное обеспечение 
              strong в подарок
          li
            .hder__utp-center-row2-ul-cntnt монтаж 
              strong от 1 дня
          li
            .hder__utp-center-row2-ul-cntnt 
              strong не требует монтажа линий питания
