.you-get2__skud
  .you-get2__skud-bg
  .container
    .you-get2__skud-ttl-block
      .you-get2__skud-ttl-txt Вы получаете: 
    ol.you-get2__skud-ol
      li.you-get2__skud-li 
        strong Увеличение доходности 
        | отеля от 20%  и более за счет экономии на электроэнергии.
      li.you-get2__skud-li 
        strong Ликвидация «левых» заселений 
        | администраторами.
      li.you-get2__skud-li 
        strong Повышение трудовой дисциплины 
        | – карточка фиксирует точное время прихода/ухода сотрудника.
      li.you-get2__skud-li Забудете головную боль со сменой замков из-за утери ключей – карточка стоит 93 рубля и 
        strong программируется администратором за 1-2 минуты.
      li.you-get2__skud-li 
        strong Он-лайн контроль заселений 
        | и присутствия персонала через мобильное приложение.
      li.you-get2__skud-li 
        strong Повышения уровня общей безопасности 
        | Вашего отеля
      li.you-get2__skud-li 
        strong Удобный учет 
        | дополнительных  услуг  для Клиента  при помощи «умной» карты – ресторан, бар, сауна, игровая комната.        
    .row
      // Почему у нас?
      .col-12.text-center
        .hder__test
          .hder__test-top
            .main-team__wrap
              .main-team__ttl-row
                .main-team__ttl-txt Почему выгодно заказать электронные замки у нас?
          .hder__test-bottom
            .row
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt
                    strong Отсрочка оплаты 
                    | до конца сезона.
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt 
                    strong Монтаж от 1 дня
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt Работаем 
                    strong по всему Крыму
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt
                    strong Не зависит от электросети 
                    | - автономная работа от батареек
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt
                    strong Круглосуточный 
                    | сервис технической поддержки наших Клиентов
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt
                    strong Гарантия 
                    | на оборудование 3 года
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt
                    strong Быстрый монтаж 
                    | - не требуется монтаж линий питания для замков
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt Гарантия на работы - БЕССРОЧНАЯ
              .col-12.col-lg-6
                .video-cat__item
                  .video-cat__item-img
                    img(src='images/cat-symbol-check.png')
                  .video-cat__item-txt
                    strong Программное обеспечение - в подарок!
