/* Статьи */
.articles__item
  padding 50px

.gallery__item.articles__item
  height initial

.gallery__item-ttl.articles__item-ttl
  position relative
  top initial
  left initial
  transform initial

.main-cat__item-cntnt.gallery__item-cntnt
  margin-top 50px

@media screen and (max-width 992px)
  .articles__item
    padding 30px 20px

/* /Статьи */
