/* Статьи */
.articles__item
  padding 50px
  box-shadow 0 0 30px -2px grey

.gallery__item.articles__item
  height initial

.gallery__item-ttl.articles__item-ttl
  position relative
  top initial
  left initial
  transform initial

.main-cat__item-cntnt.gallery__item-cntnt
  margin-top 50px

.gallery__item.articles__item:hover
  text-decoration none

.articles-item__images
  margin-bottom 40px
  margin-top 40px

.articles-item__images-a
  height 365px
  width 100%
  display inline-block
  position relative
  border 3px solid transparent
  transition .2s ease

.articles-item__images-bg-img
  position absolute
  height 100%
  width 100%
  top 0
  left 0
  background-image url('../../images/articles__item.png')
  background-position center
  background-size cover
  background-repeat no-repeat

.articles-item__images-bg-color
  position absolute
  height 100%
  width 100%
  top 0
  left 0
  background-color #000
  opacity 0
  transition .2s ease

.articles-item__images-bg-zoom
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  opacity 0
  transition .2s ease

.articles-item__images-a:hover
  border-color yellow
  .articles-item__images-bg-color
    opacity .6
  .articles-item__images-bg-zoom
    opacity 1

.articles-item__txt
  font-size 18px
  line-height 28px
  font-weight 300
  margin-bottom 80px

@media screen and (max-width 992px)
  .articles__item
    padding 30px 20px

/* /Статьи */
