footer
	.footer__bg-btm
	.container.pos-r
		.row
			// Логотип
			.col-12.col-sm-4.pr-lg-5.footer__separ-vert
				img.footer__logo(src='images/header-logo.png')
				.footer__text Sed porttitor lectus nibh. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.Praesent 
			// Меню
			.col-12.mt-4.col-sm-4.pr-sm-0.pl-sm-4.mt-sm-0.col-lg-2
				.footer__ttl Меню
				ul.footer__nav
					li.footer__nav-item
						a.footer__nav-item-a(href='index.html') Главная
					li.footer__nav-item
						a.footer__nav-item-a(href='404.html') О Компании
					li.footer__nav-item
						a.footer__nav-item-a(href='404.html') Каталог
					li.footer__nav-item
						a.footer__nav-item-a(href='404.html') Статьи
					li.footer__nav-item
						a.footer__nav-item-a(href='gallery.html') Галерея
					li.footer__nav-item
						a.footer__nav-item-a(href='contacts.html') Контакты
			// Контакты
			.col-12.mt-2.col-sm-4.pl-sm-0.mt-sm-0.pr-lg-0.col-lg-3
				.footer__ttl Контакты
				.footer__contacts
					.footer__contacts-sign
						i(class="fas fa-phone")
					.footer__contacts-content +7 (978) 055-19-09,
						br
						| +7 (978) 090-41-31,
						br
						| +7 (915) 259-77-17							
				.footer__contacts
					.footer__contacts-sign
						i.pt-0(class="far fa-envelope")
					.footer__contacts-content info@top-clever.ru 
				.footer__contacts
					.footer__contacts-sign
						i(class="fas fa-map-marker-alt")
					.footer__contacts-content г. Севастополь,
						br
						| ул. Курганная, 6							
			// Мы на карте
			.col-12.mt-2.pl-lg-0.col-lg-3.mt-lg-0
				.footer__ttl Мы на карте
				.footer__map
					iframe(src="https://yandex.by/map-widget/v1/-/CBuyf4fPGC" width="100%" height="100%" frameborder="0" class="footer__map")
	// Копирайт 
	include /blocks/copyright/copyright
	// /Копирайт 
