mixin main-director()
	+b.main-director&attributes(attributes)
		block
		.main-director__bg
		.container.main-director__ttl-wrap.text-center
			.main-director__ttl Обращение директора
		.container.main-director__wrap
			// Текст
			.main-director__txt
				// кавычки
				.main-director__txt-header.main-director__txt-header-lines
					.main-director__txt-footer-img-wrap
						img.main-director__txt-header-img(src='images/main-director__quotes-top.png')
				img.main-director__txt-img(src='images/main-director__person.png')
				p
					strong(style='color:#00427b') Здравствуйте, дорогие Друзья, Клиенты и Партнеры! 
				p	Я – 
					strong(style='color:#00427b') Владимир Жмур
					| , основатель и директор по развитию компании «КЛЕВЕР». Благодарю Вас за проявленный интерес к нашей продукции. «КЛЕВЕР» – молодая севастопольская компания, созданная для предоставления жителям Крыма услуг по автоматизации комфорта и безопасности Дома и бизнеса. 
				p 
					strong(style='color:#00427b') Наши партнеры 
					| - компании из Крыма, Ростова-на-Дону, Москвы и Благовещенска (Амурская область).Такая обширная география партнеров связана с нашим стремлением выбирать лучшие инженерные решения для реализации Ваших желаний. 
				p 
					strong(style='color:#00427b') Инженеры ООО "КЛЕВЕР" 
					| - профессионалы автоматизации. Атомщики и микроэлектронщики, программисты и электрики. 
				ul.main-director__txt-ul Мы приготовили для Вас предложения в пяти направлениях: 
					li "Умный Дом" чешской компании Яблотрон; 
						i(class="fas fa-check")
					li Защита от солнца -жалюзи и маркизы, механические и автоматические, производства Испании, Италии, Германии и КНР; 
						i(class="fas fa-check")
					li IP-видеонаблюдение; 
						i(class="fas fa-check")
					li Видеодомофоны; 
						i(class="fas fa-check")
					li Энергосбережение и контроль доступа для гостиниц и офисов, программы учета работы персонала. 
						i(class="fas fa-check")
				p Наша миссия – инновационная автоматика в каждый Дом и офис.
				.main-director__txt-welcome Добро пожаловать в мир инноваций «КЛЕВЕР»!
				// кавычки				
				.main-director__txt-footer.main-director__txt-header-lines
					.main-director__txt-footer-img-wrap
						img.main-director__txt-footer-img(src='images/main-director__quotes-top.png')
			
