/* Нам доверяют */
.main-trust
	display block
	padding 170px 0 100px

.main-trust__ttl
	font-size 60px
	color $hderBlue

.main-trust__txt
	position relative
	font-size 36px
	color $howOrange
	flex-grow 1
	padding-bottom 9px
	display -webkit-flex
	display -ms-flex
	display flex
	align-items flex-end
	justify-content flex-end
.main-trust__txt:before
	content ''
	position absolute
	height 3px
	width 100%
	bottom 0
	left 0
	background-color #fee300

.main-trust__top
	margin-bottom 70px

.main-trust__item
	opacity .5
	text-align center
	margin-bottom 35px
.main-trust__item.active
	opacity 1

@media screen and (max-width 992px)
	.main-trust__ttl
		font-size 38px
/* /Нам доверяют */
