mixin main-trust()
	+b.main-trust&attributes(attributes)
		block
		.main-trust__bg
		.container
			.row.main-trust__top
				.col.d-flex.flex-column.flex-sm-row
					.main-trust__ttl.mb-4.mb-sm-0 Нам доверяют:
					.main-trust__txt ООО "Клевер"
			.row
				.col
					.main-trust__item.active
						img.main-trust__item-img(src='images/clever-logo-blue.png')
				.col
					.main-trust__item
						img.main-trust__item-img(src='images/clever-logo-blue.png')
				.col
					.main-trust__item
						img.main-trust__item-img(src='images/clever-logo-blue.png')
			
			
