//- mixin contentTitle(title)
//-   .container.simple-p
//-     // Заголовок
//-     .simple-p__ttle-wrap
//-       .simple-p__ttle= title

mixin contentTitle(title)
  .simple-p__wrap
    .container.simple-p
      // Заголовок
      .simple-p__ttle-wrap
        .simple-p__ttle= title
