/* Типовая страница */

.simple-p
  padding 40px 0

/* шапка  */
.hder__utp-center_simple
  .hder__utp-center-separ
    margin 40px 0 0

.hder__utp-center_simple.hder__utp-center
  padding 40px 0 0
/* /шапка */

/* Заголовок */
.simple-p__ttle
  font-size 48px
  color $fterBlue
  background-color #fff
  display inline-block
  z-index 10
  position relative
  padding-right 20px

.simple-p__ttle-wrap
  width 100%
  position relative
  margin-top 50px
  margin-bottom 80px
.simple-p__ttle-wrap:before
  content ''
  position absolute
  width 100%
  height 3px
  left 0
  bottom 6px
  background-color yellow
/* /Заголовок */



/* /Типовая страница */
