extends ../header/header

block headerVars
  - var headerType = 'header-simple';

block centerUtp
  .col-12.text-center
    .hder__utp-center.hder__utp-center_simple
      .hder__utp-center-row1= title
      .hder__utp-center-separ

block breadcrumbs
  .brc
    .container.brc__container
      a(href='#').brc__item Главная
      .brc__item.brc__item-separ /
      a(href='#').brc__item Галерея
