mixin footer()
	+b.footer&attributes(attributes)
		block
		.footer.bg-lg
			.sepr
			h2.text-center Футер + Контакты + Карта
			.sepr
			.container
				.row
					.col-3
						.footer__logo.bg-g
						.footer__descrn Nulla porttitor accumsan tincidunt. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus.
					.col-3
						.footer__menu.d-flex.justify-content-center
							ul.footer__menu-li
								li
									a(href='#') Главная
								li
									a(href='#') О компании
								li
									a(href='#') Каталог
								li
									a(href='#') Статьи
								li
									a(href='#') Галерея
								li
									a(href='#') Контакты
					.col-3
						.footer__contacts +7 (978) 055-19-09, 
							br
							| +7 (978) 090-41-31, 
							br
							| +7 (915) 259-77-17
							br
							| info@top-clever.ru
							br
							| г. Севастополь, 
							br
							| ул. Курганная, 6
					.col-3
						.footer__map
							iframe(src="https://yandex.by/map-widget/v1/-/CBqTQ4DhpB" width="100%" height="200" frameborder="0")
			.sepr
